[2016-09-26 02:41] xile611 commented on #269
@10n6 You can set the domain of `YAxis`  to be `['dataMin', 'dataMax']` which have default value `[0, `auto`]`.

[Here](http://recharts.org/api#YAxis) is the document of YAxis.

[2016-09-26 02:42] #268 closed

[2016-09-26 07:54] 10n6 commented on #269
Thanks very much will give that a try today. Love the module btw.

[2016-09-26 09:55] digorydoo commented on #233
Makes sense. But you could also allow it on the parent for the default behaviour, and override that default on the child element.

[2016-09-26 09:57] digorydoo commented on #242
I'm pretty sure the defaultProps does not allow you to specify the defaults of individual members of an object. So, if I define margin, I'll override your defaultProps, so the property 'left' will be undefined.

[2016-09-26 13:56] 10n6 commented on #269
Works a treat thanks :)
<img width="355" alt="screenshot 2016-09-26 14 54 20" src="https://cloud.githubusercontent.com/assets/5984529/18836772/53a073ec-83f9-11e6-907c-68acbe43d491.png">

[2016-09-26 15:49] billneff79 opened #272 "Provide ability to style value line of <Area> chart separately from the area"
Currently, the <Area> component renders the area a single path, so if we want to style the value line of an area chart, we can't because things like stroke-width affect the entire boundary of the area chart and not just the value line.

A workaround is to add a second <Line> chart to graph using the same dataseries and style that, but then you end up with unnecessary duplicate data series on the c

[2016-09-26 16:00] billneff79 commented on #272
Nevermind.  This already exists ;)

[2016-09-26 16:00] #272 closed

[2016-09-26 17:21] matthewberkompas commented on #271
Fixed. Thanks a lot!

[2016-09-26 17:21] #271 closed

[2016-09-26 20:00] Hectorhammett commented on #261
I'm using a Line Chart, and i'm in this trouble as well, i need the user to click a point, and i want to grab the information on that specific point so i can query the database to give the user more detailed information.

A onClick event would be greatly appretiated!.

Excelent package for react btw.

[2016-09-27 02:22] #269 closed

[2016-09-27 20:40] jasonslyvia opened #273 "Custom label in <ReferenceLine> is rendered inside SVG elements"
[code]

results in following dom structure:

![image](https://cloud.githubusercontent.com/assets/1336484/18890852/8adbbc94-8535-11e6-8f50-eceb900eeda4.png)

which is not allowed by SVG specs, and got wrong positioning at all.

[2016-09-28 00:53] Hectorhammett commented on #261
@weita0 I created a fork of Recharts and added a On Click functionality:
https://github.com/Hectorhammett/recharts/tree/package

I've created it until they add a complete functionality, use it if it serves you.

To use it, in the LineChart element, add a prop called onDotClick (The event fires when you click a dot) and pass a function to it.

The function returns in the first parameter, the label

[2016-09-28 06:54] weita0 commented on #261
@Hectorhammett  Excellent job!

[2016-09-28 07:02] Hectorhammett commented on #261
@weita0  Thanks!

I could've made m code better but i was focused in fixing my problem, would you like me to ask for a Pull Request? Again, my code right now is not perfect, but if you like it, i could improve it.

[2016-09-28 07:33] tusharkhatiwada opened #274 "Is it possible to create a chart from series of data?"
Hi there,
I have a series of data that needs to be plot in a chart. The Y-Axis will be the `speed` of vehicle and the X-Axis will be the `time`. The data I have is the speed of the vehicle for every few seconds. What I want is to have X-Axis with 1 hour difference and Y-Axis to be the speed.

Something similar like this:
http://www.highcharts.com/demo/line-time-series

Is it possible to create a o

[2016-09-28 12:15] PavanKu opened #275 "Way to add more data in tooltip"
Hi,

I am using scatter chart and want to display some values which are present in scatter component's data props. Right now, it seems that tooltip's payload is constructed based on X Axis, Y Axis, Z Axis value.

Will it be possible to show additional data in tooltip. It will be good if we get data of active scatter in tooltip so that we can write custom tool tip to show additional values.

[2016-09-28 14:03] SpaceK33z commented on #265
Can confirm, I'm also having this problem in Chrome 54 beta (OSX).

[2016-09-28 14:08] SpaceK33z opened #276 "Publish 0.15.1 on npm"
Version `0.15.1` contains a crucial fix, but has not been published on npm yet. Could you publish this?

We unfortunately can't downgrade to an older version because we're using some features from `0.15.0`.

[2016-09-28 14:20] SpaceK33z commented on #276
Never mind, apparently the new version is published, but the npm package page is still showing `0.15.0`.

[2016-09-28 14:20] #276 closed

[2016-09-28 20:59] billneff79 commented on #186
One of the performance issues we've run into is that the XAxis (and subsequent formatting of all ticks, which can be not-free with date formatting) is re-computed/rendered on every render, which is super expensive with large data sets.

https://github.com/recharts/recharts/blob/38269105832e2ab3a353e091ddb874b2c39adcfb/src/chart/generateCategoricalChart.js#L614

Really need to update the Axis so th

[2016-09-29 04:48] billneff79 commented on #186
I submitted pull request #277.  That should help with some of the large dataset performance issues.  Still need to fix it so that it doesn't format every tick on every render...

[2016-09-29 19:25] techniq commented on #256
I'm running into this as well and support @tobia's proposal (only affect the height)

[2016-09-30 07:35] tomsue opened #278 "Warning: setState(...): Can only update a mounted or mounting component....Please check the code for the ContainerDimensions component."
Hi,

I get a warning when i **# **fast**** switch some page(the page use ResponsiveContainer  ).

environment：
recharts@^0.13.3
react: ^15.3.0,
ref:  ContainerDimensions of react-container-dimensions@1.2.0

public code:

     _<ResponsiveContainer width="100%" height="100%">
                        <BarChart data={data}
                                    margin={{top:20, right:0, left:0, bottom:3

[2016-09-30 08:01] tomsue commented on #278
![image](https://cloud.githubusercontent.com/assets/5195809/18984772/f6f3c230-8726-11e6-8c25-604f6d3215e4.png)

I add the _isMounted to controller onresize then , I can normal fast switch.

[2016-09-30 08:08] truenorthcreative opened #279 "Responsive Container not resizing (using react-router)"
I'm using the following code for an AreaChart within a Responsive Container:

[code]

Any ideas why this isn't resizing?  I've tried the setting min-height, height, etc.  It only initially renders if I provide an `aspect`

Any thoughts would be helpful

Initial view:
![image](https://cloud.githubusercontent.com/assets/612747/18985010/69573e40-86bb-11e6-8cb9-cf0dafe954b9.png)

Resized:
![image](htt

[2016-09-30 12:12] okonet commented on #249
Please see this discussion: https://github.com/okonet/react-container-dimensions/issues/7#issuecomment-240769079

[2016-09-30 13:24] techniq commented on #279
@truenorthcreative try setting `width="100%"` as well
[code]

This is what I'm using with react-router / bootstrap.

[2016-09-30 17:18] truenorthcreative commented on #279
@techniq That doesn't work for me.  I've tried all of the solutions provided in the threads on here

[2016-10-01 08:53] #279 closed

[2016-10-02 12:02] gplatt opened #280 "Is it possible to change the Bar fill color based on a value in the data set?"
I'd like to make the fill color for the column "Current" to be different to the other bars. Would appreciate any help for doing this.  Note that the data gets sorted so the order of the bars changes.

Many thanks.

This is what my data looks like.

`export default ({coverAmount, rates, current}) => {
  const data = sortData([
    {years: 'Current', premium: parseFloat(current), buffer: 0},
     {y

[2016-10-03 01:22] billneff79 opened #281 "Performance Issue - Recharts using deep compare instead of shallow compare combined with object re-use"
Recharts isn't taking full advantage of React's rendering optimizations for sub-trees. The "shallowEqual" function in PureRender is actually a deep-equal, which is very expensive and re-computed several times on any given event (e.g. mouse moving over the graph).  For a graph with hundreds or thousands of points, this can become very slow.

Part of the reason a deep equality was likely used was th

[2016-10-03 04:11] billneff79 commented on #280
The individual data elements are passed into the props, so you have acces to those in a custom bar shape.  You should be able to create a custom bar, and in that custom bar set the a css class or explicit fill color to do what you want:

[code]

[2016-10-03 07:38] gplatt commented on #280
Thank you. This helped me better understand things.

I came across an example using the Cell component and now have it close to what I want with the following code:

[code]

[2016-10-03 07:38] #280 closed

[2016-10-04 19:35] UnsungHero97 commented on #244
Thanks, @xile611. Follow up question... how do you set the y-axis ticks to be in 10% increments? If I set `tickCount` to 10, the y-axis goes all the way up to 135%. I've tried playing with `ticks` and `domain` and `interval`, and I have't been able to make it work.

[2016-10-04 19:55] UnsungHero97 commented on #244
Hmmm... this seems to work:

[code]

[2016-10-05 10:47] jochenberger opened #283 "UMD build includes all of React"
There is something wrong about the Webpack configuration, that makes Webpack include React in the UMD build (see https://unpkg.com/recharts@0.15.1/umd/Recharts.js). I'm trying to find a way to solve this and I believe it is caused by react-smooth. Maybe https://github.com/recharts/react-smooth/pull/6 will help.

[2016-10-06 07:28] digorydoo opened #285 "Reference area?"
I'm using ReferenceLine to render an upper and lower limit of some reference range in the y domain of a ScatterChart. This works fine, but can look a bit messy, especially when there is a lot of data on the plot. Filling a rectangle with a slightly darker background starting from the lower y ref line to the upper y ref line and extending the full x width would look much more clean and would also b

[2016-10-06 13:23] digorydoo commented on #285
Here's how this would look like. I now have:

`<ScatterChart {...chartProps}>
    <ReferenceLine {...lowerRefLineProps} />
    <ReferenceLine {...upperRefLineProps} />
    <XAxis {...xAxisProps} />
    <YAxis {...yAxisProps} />
    <Scatter {...myData} />
</ScatterChart>`

What I'd like to do:

`<ScatterChart {...chartProps}>
    <Rectangle y1="0.5" y2="7.1" bgColor="#f0f0f0" />
    <XAxis {...xAx

[2016-10-06 20:12] CapCap commented on #246
Any update on this?

[2016-10-07 01:18] sp33drac3r opened #286 "RadialBarChart leaves text artifact at top of chart"
Taken from the jsfiddle example from your examples page:
http://jsfiddle.net/kxyhx6vg/2/?utm_source=website&utm_medium=embed&utm_campaign=kxyhx6vg

After the bar charts finish animating, a tspan with "[object Object],[object Object]" as text appears in the top left.

I was able to recreate this on my own application.

[2016-10-07 12:31] peterholmberg commented on #275
I'm also having an issue with this. Need to format the payload value into different currencies.

[2016-10-07 18:17] jzillmann commented on #267
+1 Would like that too! Any workaround do get something like that ?

[2016-10-08 05:01] #283 closed

[2016-10-08 05:10] xile611 commented on #285
@digorydoo Recharts has added component `ReferenceArea` in version 0.13.4. But the documentation  is backward. I'll update the documentation of  `ReferenceArea`.

You can use `ReferenceArea` like the following:

[code]

[code]

[code]

[2016-10-08 05:46] xile611 commented on #278
@tomsue This is duplicated with [#249](https://github.com/recharts/recharts/issues/249).

[2016-10-08 05:46] #278 closed

[2016-10-10 16:17] sdoomz commented on #275
Seems like you can use custom renderer for [tooltip content](http://recharts.org/api/#Tooltip)
[code]
and
[code]

[2016-10-10 21:52] sdoomz opened #287 "Real-time chart"
Hi!
I'am trying to figure out how to connect rechart with async data without full re-rendering.
Every second I receive new point for area chart and then call setState() with new data collection. That triggers re-rendering :(

But my questions are:
1. How to keep previously focused tooltip in opened state after new data was added?
2. How to apply only new data without full re-rendering?
3. How to m

[2016-10-11 03:04] abpai opened #288 "onChange function provided to Brush doesn't get called"
An `onChange` function provided to Brush as a prop does not get called.

Here is an example: http://jsfiddle.net/xtdssj96/6/

If the `onChange` prop is called `onUpdate` instead, this resolves the issue. If that change is acceptable, I'm happy to open a pull request and update the corresponding documentation.

Thanks for the great work on this library! Cheers!

[2016-10-11 09:30] xile611 commented on #288
@abpai  The `onChange` of Brush is overwrote by internal event handler in [generateCategoricalChart](https://github.com/recharts/recharts/blob/master/src/chart/generateCategoricalChart.js#L726). Maybe we should refactor  generateCategoricalChart to not simply overwrite.

[2016-10-11 10:42] JasperStam commented on #261
@Hectorhammett

Making a PR would be awesome as I have the exact same issue!

[2016-10-11 11:21] xile611 commented on #261
@Hectorhammett Could you submit a PR? Then I can check the changes of your code much clearer.

[2016-10-11 11:46] xile611 commented on #287
@sdoomz

For your questions:

1. Tooltip is triggered by mouse event now, may be you can use other method to display the new data, for example an `position: absolute;` div or a customized label of `Area`.

2. Temporarily no idea.

3.D3 use path animation to switch path, I have no idea how to add path transition animation when path update now.

[2016-10-11 13:10] peterholmberg commented on #275
Yes, but I want to add more props to a tooltip.

 <Tooltip content={<PriceGraphTooltip product={product} />} />

The product object holds the currency, and I'd like to access it in the PriceGraphToolip

 return (
                <div className="custom-tooltip">
                    <p className="intro">{payload[0].value product.currency}</p>
                    <p className="intro">({label}) </p>

[2016-10-11 13:20] MichaelBitard opened #290 "typescript definition"
I wasn't able to find a typescript definition for recharts, is there anyone working on something like that?

[2016-10-11 13:52] sdoomz commented on #275
@peterholmberg You can add as much props as you need and access all with `this.props.propName` [example](http://jsfiddle.net/sdoomz/zefmfeks/)

If you don't know what kind of currency should be rendered for this dot just add `currency` property for each object in your `data` array. And display it with `payload[0].currency`

If your issue still is not resolved please create jsfiddle example

[2016-10-11 14:26] sdoomz opened #291 "Documentation missing: Fill background for CartesianGrid component"
Hi!
I'am trying to customise my chart and fill background in this way:
`<CartesianGrid strokeDasharray='5 5' fill='red' />`
This code doesn't work for me, background still transparent. Any ideas?

[2016-10-11 14:42] xile611 commented on #291
@sdoomz CartesianGrid only render some lines now. So the props `fill` can the grid of  `CartesianGrid`.

And would you like to fill all the grid by `red`?

[2016-10-11 14:44] xile611 commented on #273
When the `label` is a react element, we have no idea to check whether the element is a svg node or a dom node. Do you have any idea?

[2016-10-11 14:45] xile611 commented on #266
@patryk0605 Can you create a jsfiddle demo ?

[2016-10-11 15:00] #252 closed

[2016-10-11 15:04] xile611 commented on #254
@tobia The `onClick` event of `Pie` works. But It will be overwrote by `onClick` of `PieChart`. So It seems strange now.

[2016-10-11 15:29] sdoomz commented on #291
@xile611 I want to change background color of AreaChart and I thought that CartesianGrid is good way to do this.
`.recharts-cartesian-grid` is direct area what I want to fill with new background color.

[2016-10-11 15:37] xile611 commented on #256
Yeah, In most case, we just want the height to fit the width.

[2016-10-11 15:42] xile611 commented on #291
OK! It'll be a feature in the next version.

[2016-10-11 17:14] abologna-r7 commented on #281
Agree... Finding rendering everytime when interacting with the chart on mouseover. I have a dynamic set of Areas inside a AreaChart component, depending on the dataset I get from the server. While I do not rerender unless the data changes on my end, the component still rerenders on mouse over interactions with the chart, which in some sense annoys me a little bit, and potentially can hurt our main

[2016-10-11 20:38] SimiMilton commented on #275
I'm also having this issue with my barchart. My data format is as follows:
`const data = [{timestamp: '09:00', level: 0.4, height: 600, hasValue: true},];`
The Bar's datakey is height and XAxis datakey is timestamp. While creating custom tooltip, I need to have access to level and hasValue info too. How could I do that? Inside the CustomTooltipClass render, I need something like this:
`const { pay

[2016-10-11 21:26] abpai commented on #288
Got it. Thanks! I'll open a PR.

[2016-10-11 21:27] sdoomz commented on #275
@SimiMilton Hmm maybe you'r looking for something like this:
[code]

But to have payload inside payload array is not clear for me too.

[2016-10-11 21:33] SimiMilton commented on #275
Awesome, that's what I was looking for. Thanks @sdoomz

[2016-10-11 23:38] sunny-g commented on #274
I'm attempting something very similar - I'd like to create a `BarChart` that'll render a variable number of bars on an x-axis that will always have 12 ticks (one for every month). Is this what a `CartesianAxis` is for?

[2016-10-12 03:43] #275 closed

[2016-10-12 16:07] #242 closed

[2016-10-12 16:07] #253 closed

[2016-10-12 16:07] #256 closed

[2016-10-12 16:07] #286 closed

[2016-10-12 20:52] sdoomz commented on #287
@xile611 Currently it is possible to solve issue with [dynamic charts](http://jsfiddle.net/sdoomz/ams3jyj2/) using Highcharts.js and [react-highcharts](https://github.com/kirjs/react-highcharts) package. But it would be great to see same functionalities in next versions of Recharts.

[2016-10-13 01:09] SachaG commented on #253
Awesome, thanks so much for adding this!

[2016-10-13 01:50] xile611 commented on #285
[Here](http://recharts.org/api#ReferenceArea) is the api of `ReferenceArea`.

[2016-10-13 01:50] #285 closed

[2016-10-13 01:53] xile611 commented on #287
@sdoomz Thanks for great suggestions! We'll try to implement this functionality, maybe through a wrapper component.

[2016-10-13 02:33] Introvertuous opened #292 "Firefox barchart issue"
There is an animation issue that appears on firefox, possibly elsewhere but not chrome or brave. Not sure if it has been addressed elsewhere but here is a recording of it.

https://vid.me/ZD2r

[2016-10-13 06:26] huozhi opened #293 "Could recharts components support customized animation?"
For example the component `Line`，there is a `<Animate>` component wrapped it and the animation only works on curve's length changes.

I suggest that we could pass `animationProps` liked names to the `Line` component.

[code]

Just exposed the animation control out, then developers could control the animation easily. Wish you could follow my suggestion. : )

[2016-10-13 15:27] xile611 commented on #293
@huozhi It's a good idea, we'll try to refactor these components. Meanwhile PR is welcome.

[2016-10-14 02:26] mehdivk opened #295 "Bar, Line and Area ordering within a ComposedChart"
Hey guys,
Thanks for the `<Recharts />` module, it's really easy and pleasant to draw charts using Recharts. I'm using `Composed Chart` to render a chart that is consist of an Area and a bar, something like:

[code]

Our design guy wants the "Bar" chart to be underneath the "Area" whereas "Recharts" behaviour is reverse, it always put an Area underneath the Bar due to this code in `./src/chart/Com

[2016-10-14 02:51] huozhi commented on #293
Nice! Repo forked already, I' ll start at once! : )

[2016-10-14 03:30] mehdivk opened #296 "Stacked bars with Negative/Positive data"
Hi guys,
I'm trying to implement a stacked bar chart consist of two bars that are stacked together using `stackId`, one of the bars is using a data that is ALWAYS positive and the other one ALWAYS negative.

My dataset looks like this:

[code]

And this is how I use <Recharts />:

[code]

At the moment I get this:
![screen shot 2016-10-14 at 2 22 50 pm](https://cloud.githubusercontent.com/assets/3

[2016-10-14 03:45] mehdivk commented on #296
I saw this workaround http://jsfiddle.net/vxnhLa14/
closing this one

[2016-10-14 03:45] #296 closed

[2016-10-14 13:02] frontsideair opened #297 "Legend verticalAlign bottom stays at the top"
I have a scatter chart with a legend and the legend is too close to the chart. I tried giving the legend some height and set verticalAlign to 'bottom' but while bounding div of the legend seems to grow, the ul element stays at the top of the div; which is not what I want.

Am I doing something wrong and there's a solution, or should I work on a fix? I can create a simple isolated test case if it's

[2016-10-14 15:32] excitement-engineer opened #298 "The responsiveContainer doesn't work in google chrome"
I have a simple line charts:

[code]

I am trying to render this in a grid where the chart takes up half the screen and two other boxes the quarter of the screen respectively.  However, when I decrease the screen size the chart does not decrease in size giving the following error:

<img width="1015" alt="screen shot 2016-10-14 at 17 30 57" src="https://cloud.githubusercontent.com/assets/19558321/1

[2016-10-16 16:58] MohammedJaffar opened #299 "Line chart show all data in xaxis"
Hi,
How to show all the page in x Axis like, from Page A to Page m.
because they grouped the pages like below
Output:
![captusre](https://cloud.githubusercontent.com/assets/8073735/19419163/4056440a-93ef-11e6-983d-9b4662361cff.JPG)
My data code :
const data = [
      {name: 'Page A', uv: 4000, pv: 2400, amt: 2400},
      {name: 'Page B', uv: 3000, pv: 1398, amt: 2210},
      {name: 'Page C', uv: 2

[2016-10-17 05:59] xile611 commented on #299
@MohammedJaffar You can set
[code]

to show all the ticks.

[2016-10-17 06:04] xile611 commented on #298
@excitement-engineer Please see [#172](https://github.com/recharts/recharts/issues/172) for detail.

[2016-10-17 08:11] excitement-engineer commented on #298
Thanks for the link! I added `width: 0` to the container div to fix the issue as was mentioned in your link. It seems that this is an issue with flexbox and not recharts, however this simple solution fixes is nonetheless.

[2016-10-17 08:11] #298 closed

[2016-10-17 11:17] MohammedJaffar commented on #299
Thanks you @xile611 .

[2016-10-18 08:43] truenorthcreative opened #300 "Chart keeps redrawing"
Not sure if this is a bug or perhaps something in my code, but I I'm using the ResponsiveContainer and AreaChart and if I update the state of the parent component or even click on a menu above the chart, it redraws the chart.  The data is static, so it's not changing anything.  Any thoughts?

[2016-10-18 15:05] patryk0605 commented on #266
In this example: http://jsfiddle.net/patryk0605/akpt76jg/

I set `label="Devices"` in `<XAxis dataKey="name" label="Devices"/>`, however there is no label showing on the x-axis.

[2016-10-19 13:18] guzmonne commented on #265
I am also having the same problem with Chrome Version 54.0.2840.59 (64-bit).

This is the component that causes issues:

[code]

If I remove the `<Tooltip />` component the error goes away.

[2016-10-19 14:55] ArnoBuschmann commented on #265
Same here, Chrome version is 54.0.2840.50 beta (64-bit) on Ubuntu 16.04.1 LTS.
Aside of that I just want to say, this is an awesome project, thanks for creating it!

[2016-10-19 16:23] piRstone opened #301 "Isomorphic app : document is not defined"
Hi,
I have a problem with server side rendering.
When I pass data via props to my chart, reload my server and refresh my page, I get an error :

[code]

Even if I pass static data from a const in the chart's file it still doesn't works.

When I tried Recharts without server side rendering, everything worked fine but as soon as I set SSR, I got this error.

I tried to remove the `data={this.props.d

[2016-10-19 18:24] zhangjiang2013 opened #302 "Tooltip display overlap issue over multiple charts"
Hi! I am using multiple charts with tooltip showing to generate a dashboard. There is some display issue as the tooltip content is big. When hovering over on the barchart, other charts will show over the big tooltip box. Here is the jsfiddle link.
http://jsfiddle.net/jiangzhang/zjbbbdtj/11/

[2016-10-19 18:26] zhangjiang2013 commented on #302
<img width="617" alt="screen shot 2016-10-19 at 11 22 31 am" src="https://cloud.githubusercontent.com/assets/7018709/19532057/ef37ba34-95ee-11e6-8031-2c178d0e959d.png">

[2016-10-19 22:28] mike-marcacci opened #303 "NaN should be treated like undefined or cause an error"
Right now, if any value is `NaN`, the chart renders nothing, but does not throw an error.

For the sake of predictability, it should either be treated as `undefined` and not render the specific data point, or cause the chart to throw an error. My slight preference is the latter, since `NaN` can totally destroy react performance, since `NaN != NaN`, and it would be nice to discourage its use.

[2016-10-20 18:42] marknv commented on #265
We also just find this problem today on my chrome version is 54.0.2840.59 (OSX). Another guy uses
 firefox on linux as the below black boxes lag issue.

![screenshot from 2016-10-19 17_09_17](https://cloud.githubusercontent.com/assets/3892004/19573208/e29c8d18-96ca-11e6-9d0c-0721f0c76e26.png)

[2016-10-20 22:31] nearengine opened #304 "allowDecimals is being ignored by axis"
Hopefully I'm not doing something terribly wrong, but I cannot get the `allowDecimals` prop to work on my `XAxis`. I did a quick fork of one of the examples in the docs to demonstrate:

http://jsfiddle.net/pnmLbszw/

Edit: I noticed it may have something to do with line charts expecting a "category" X axis instead of a "number", is there no way to have both numerical X and Y axis on a line chart?

[2016-10-21 00:13] mike-marcacci opened #305 "Feature: logarithmic (or pluggable) scale for YAxis and XAxis"
There are obviously many applications where a logarithmic is preferable to a linear scale. It would be really cool to be able to pass a `scale` function to the `YAxis` and `XAxis` components, which could optionally accept a number to use as a "base" in a logarithmic function (defaulting to a base of 1 for linear):

[code]

[2016-10-21 00:35] nearengine commented on #304
I totally overlooked the "scatter" chart earlier, which I think is a much better fit for this sort of data. Closing this issue since I think I was actually just doing things wrong.

[2016-10-21 00:35] #304 closed

[2016-10-21 17:53] sighrobot opened #306 "Brush can't be used with ScatterChart"
When I try to use a `Brush` with a `ScatterChart`, no `Brush` shows up, and no warning or error is visible. Is this expected behavior? Because of this issue, I am now trying to create a scatter-like chart from of a `LineChart` (in order to get `Brush` functionality) but it is a lot more difficult.

[2016-10-24 10:48] richardgoater commented on #265
Fwiw, the crash happens for me on a line chart but not a scatter chart, where there is no tooltip animation. `animationActive={false}` didn't seem to have any effect, so granting the ability to disable animation on a line chart tooltip would really help me out.

[2016-10-24 16:00] patryk0605 opened #308 "XAxis number cutoff on vertical bar chart"
The following chart:

[code]

is cutting off the number on the `Xaxis` like so:

![image](https://cloud.githubusercontent.com/assets/7227636/19653064/1adbdad0-99e1-11e6-89dd-ded2c1151f3f.png)

The standard barchart with same dataset was not cutting off the labels on `XAxis`.

[2016-10-24 21:45] akvanhar commented on #287
I would like to add another vote for this feature.
I've been experimenting with it on my own by using AnimateGroup from react-smooth as a wrapper to my recharts components.

[2016-10-25 03:25] #299 closed

[2016-10-25 14:47] SpaceK33z commented on #287
I'm also looking to implement realtime data, but there are major frame rate issues at the moment. PR #277 will probably fix some of these issues.

[2016-10-26 02:52] xiaody commented on #265
Same issue for me on Chrome 54.0.2840.71 (64-bit) mac OS. I'm sure it was good on Chrome 53.

Boot Chrome with `--enable-logging --v=1` and I see the following error in terminal:

[code]

So it seems a Chrome/V8 regression bug.

[2016-10-26 07:47] hi-bazinga commented on #308
You can set the `margin` property of the `ComposedChart` like this: `margin={{right: 10}}`

[2016-10-26 10:11] magalhini commented on #301
I'm having the exact same issue, @piRstone. Did you manage to find a solution?

For what it's worth, I think the same issue applies whenever using a server-side development solution (like next.js or react-create-app do, for example). The components don't display because that development server can't find the `document` property.

Any leads would be much appreciated :)

[2016-10-27 08:34] hi-bazinga commented on #300
The same problem when using BarChart, but the PieChart works well.

[2016-10-27 13:20] alelepd opened #309 "Rounded End Strokes"
Hello there,

Recharts seems pretty awesome, I wonder if it is possible to set a rounded end strokes for lines on a radial bar or everywhere where lines are drawn (like most bar charts).

To be precise, here what I am trying to do:

<img width="168" alt="radial_bar_chart_with_rounded_end_strokes" src="https://cloud.githubusercontent.com/assets/6024473/19768653/cda6b960-9c2e-11e6-814b-f8c14e6c790d.

[2016-10-28 00:13] jaredramirez commented on #261
I found an alternative solution, somewhat hacky though.

To accomplish getting data about the specific point clicked, I first set the `activeDot` prop on the `Line` component to false to removed it entirely. Then I created a custom label component with the same shape/styles of `activeDot` component, and added it to `Line`. Because the label has `payload` as a prop, you now have access to the data

[2016-10-28 03:32] foobahh commented on #301
@piRstone @magalhini can be solved by rendering based on the execution environment, i used https://www.npmjs.com/package/exenv and just render a spinner if document is not defined.

[2016-10-28 10:41] konstantin24121 opened #310 "onAnimationStart and onAnimationEnd api for Bar, Line, Pie etc."
This components have animationEnd and animationStart handle, possible add api for them?

[2016-10-28 12:11] istarkov commented on #265
The problem is not in Tooltip source, even we set an empty component with `displayName='Tooltip'` instead of current Tooltip it break the page.

[2016-10-28 13:00] istarkov commented on #265
As a fast dirty fix, debouncing this code part https://github.com/recharts/recharts/blob/master/src/chart/generateCategoricalChart.js#L536-L537
with 100ms delay makes crash possibility very low.

[2016-10-28 13:38] patryk0605 commented on #308
@hi-bazinga The margin does the trick, however it would be preferable if something more dynamic could be added to handle this scenario.

[2016-10-28 22:04] rogeliog commented on #265
I'm having the same issue. I have a `<BarChart />` and a custom tooltip.

* It only crashes in Chrome, I'm using (v54.0.2840.71)
* It only crashes when I'm in development mode, if I do a "release" build I can't make it crash.

[2016-10-29 09:35] istarkov commented on #265
I also can't reproduce it in release mode and in any mode on Canary Chrome

[2016-10-31 03:41] rogeliog commented on #265
Is there a workaround for this?

[2016-10-31 08:00] arajajyothibabu commented on #265
I'm getting the same crash not only for Tooltip but also for resizing window.

[2016-10-31 08:26] sdevidi opened #312 "x Axis to always show start and end tick"
Is there a way to always show the start and end ticks for X Axis? (For example, to show the start and end time of a time series)
I am using dates on the X Axis (day), and I notice that the end tick is always missing in my case.
I saw in the docs that I could pass the ticks manually, but wanted to check if there is a simpler way to force this behavior.

Aside from that, thanks for the awesome libra

[2016-11-01 04:40] konstantin24121 commented on #310
Close in pull request #311

[2016-11-01 04:40] #310 closed

[2016-11-01 07:00] cinderblock opened #313 "External tooltip?"
Is there a way to put the tooltip outside of a chart in a fixed location or some other dom element?

Alternatively, is there a way to access what data the cursor is pointing to so that I may construct it myself?

[2016-11-01 20:24] rogeliog commented on #265
@xile611 We really want to use recharts in production, but this crash is preventing us from doing so .:( Do you have any recommendations?

[2016-11-02 00:13] thienanle commented on #186
@billneff79 I noticed in the PR you said

I'm curious what you replaced recharts with?

[2016-11-02 01:08] billneff79 commented on #186
We ended up writing our own wrapper library that uses d3's rendering methods as well as it's math methods, but makes it all accessible via react components (technically, we use preact).

For example, instead of re-writing an area chart component from scratch like recharts did, we created an <Area> component that takes in as props the scales for the x-axis and y-axis generated using d3-scale method

[2016-11-02 02:18] xile611 commented on #265
@rogeliog I can't reproduce the crash in both local examples and online examples. My chrome is 54.0.2840.71 (64-bit) (OSX). Do you have any idea to reproduce the crash ?

[2016-11-02 09:01] thienanle commented on #186
@billneff79 Thanks for your very thorough response and the code. Eagerly looking forward to your open source debut!

[2016-11-02 10:56] xile611 commented on #309
@alelepd
Maybe we can add a new chart to display a single percentage.

[2016-11-02 11:05] xile611 commented on #306
@sighrobot  Brush can only work with `LineChart`, `AreaChart`, `BarChart` and `ComposedChart`. Because `ScatterChart` can have several `Scatter`, and the length of `Scatter` diffs.

[2016-11-02 12:06] #183 closed

[2016-11-02 12:06] #301 closed

[2016-11-02 13:50] magalhini commented on #265
Came here also looking for a solution, it seems that most charts are crashing for me after hovering/clicking around the charts for a few seconds. Looking at the timeline in DevTools, I'm thinking this is due to some memory leak somewhere, but since it crashes, I've been unable to trace it down!

Currently crashing on Chrome 54.0.2840.71 (64-bit), at least. Anyone has any leads?

[2016-11-02 14:31] rhurkes commented on #265
I would recommend trying 0.15.3, as it contains a pr/fix to prevent CPU spikes with tool-tips.

https://github.com/recharts/recharts/pull/277

[2016-11-02 15:44] magalhini commented on #265
@rhurkes I was running 0.15.3 already, but I actually found something interesting here. It seems that this behaviour only happens whenever I'm running in development mode, my fully compiled build seems to perform well and I can't get it to crash.

Looking at the `Tooltip.js` implementation, I see some checks for server side rendering, which are probably being checked on the development environment

[2016-11-02 19:09] kenhoff commented on #266
Was able to make some progress by adding `margin={{top: 20, right: 80, bottom: 20, left: 20}}` to my `<BarChart>` component, similar to how the ComposedChartWithAxisLabels does it above. Def not ideal, but at least it's a start.

[2016-11-02 23:36] #306 closed

[2016-11-03 03:09] pcmaffey opened #314 "Animation running after component is unmounted"
`Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the Animate component.`

Happens when I leave the page while an animation timer is still running. Need kill the timer in componentWillUnmount().

[2016-11-03 03:31] xile611 commented on #314
@pcmaffey I think this problem has been fixed in the latest version of React-Smooth, and version 0.16.0  has used the latest React-Smooth.

[2016-11-03 06:24] alexanderatallah opened #315 ""iteratee is not a function""
Error being thrown when first calling `render` on any graph. All the jsfiddles on the website look like they're affected. Looks like a regression in 0.16.0

[2016-11-03 06:55] xile611 commented on #315
@alexanderatallah Thank you! I should add some options in LodashModuleReplacementPlugin.

[lodash-webpack-plugin #9](https://github.com/lodash/lodash-webpack-plugin/issues/9)

[2016-11-03 07:03] xile611 commented on #281
Thanks to @billneff79. This has been fixed in version 0.0.16.

[2016-11-03 07:03] #281 closed

[2016-11-03 08:30] BOZ88 opened #316 "Could 'Area' in AreaChart accept a range value, that the lower curve not start from zero?"

[2016-11-03 08:40] xiaody commented on #265
Play with v0.16.0 and it no longer crashes for me.

[2016-11-03 08:49] #273 closed

[2016-11-03 09:47] git-toni opened #317 "JSfiddle's in websites's "Examples" section don't work"
Is it just me? [link](http://recharts.org/examples)

[2016-11-03 09:52] konstantin24121 commented on #317
@git-toni Not only for you. All examples down

[2016-11-03 09:53] git-toni commented on #317
Yup, `'t' is not a function' somewhere in the bundled `min.js` version.

[2016-11-03 09:59] #292 closed

[2016-11-03 09:59] #303 closed

[2016-11-03 09:59] #313 closed

[2016-11-03 09:59] #315 closed

[2016-11-03 09:59] git-toni commented on #317
[code]

[2016-11-03 10:30] ArnoBuschmann commented on #265
Can't confirm, still crashing here with v0.16.0 :(

[2016-11-03 11:57] xile611 commented on #317
Fixed in version 0.16.1.

[2016-11-03 11:57] #317 closed

[2016-11-03 11:58] #314 closed

[2016-11-03 15:12] pcmaffey opened #318 "strokeDasharray on Line no longer working"
Updated to 0.16 this morning and noticed that now the prop strokeDasharray on Line component doesn't get passed down to Curve component. "7 11" outputs as "0px, 0px"

[2016-11-03 15:51] matthewberkompas commented on #265
I just updated to version 0.16.1 and it's working fine.

[2016-11-03 16:14] ArnoBuschmann commented on #265
Yay, 0.16.1 works great for me now as well. Thanks for the fix, whoever did it! :) :+1:

[2016-11-03 19:39] Jareechang commented on #300
@truenorthcreative, isn't React.js supposed to re-render when you update state on components ?
it would be nice if you could post some code or jsfiddle to demonstrate

[2016-11-03 20:40] RoarkeRandall commented on #308
Yeah this has been a pain point for me. When charting a customers spend, some will be spending $10 while others could be in the $100,000 range.

[2016-11-03 20:44] patryk0605 commented on #266
Seems like this issue is related with #308 where the right is being cut off.

[2016-11-03 21:01] truenorthcreative commented on #300
@jareechang yes, of course. But the re-render will only affect the changed element, etc. my point is the state changing for *anything* in the parent will re-render, as will clicking sibling components (even if you want to remove the state argument)

[2016-11-03 21:11] Mannaio opened #319 "API Clarification"
I am studying your API and i have posted a question in stackoverflow on how on the x and y-coordinate values of center of the dots are calculated

I would really appreciate your explanation

http://stackoverflow.com/questions/40410094/calculation-the-x-and-y-coordinate-of-center-in-recharts

[2016-11-04 02:46] xile611 commented on #319
@Mannaio The coordinate of dots are calculated in [LineChart](https://github.com/recharts/recharts/blob/master/src/chart/LineChart.js#L35). In brief, we would calculate the scale function of x-axis and y-axis first, then calculate the coordinate by scale function.

[2016-11-04 02:47] xile611 commented on #316
@doublelduob Can you give an example of your chart ?

[2016-11-04 07:12] #318 closed

[2016-11-04 07:25] xile611 commented on #300
@truenorthcreative  Can you give an online example ?

[2016-11-04 08:00] xile611 commented on #274
I think we should support different scale functions of axis, like timeScale, logScale, etc, just similarly to [issue#305](https://github.com/recharts/recharts/issues/305).

So I'll close this issue temporarily.

[2016-11-04 08:00] #274 closed

[2016-11-04 08:03] xile611 commented on #95
Duplicated with issue #293 .

[2016-11-04 08:03] #95 closed

[2016-11-04 08:05] #319 closed

[2016-11-04 09:38] #295 closed

[2016-11-04 13:10] konstantin24121 commented on #300
@xile611 in site examples. When we resize render-area (right bottom), сhart is not repainted upon resize only when new data is provided. @truenorthcreative  meant that Pie chart repaining when we resize block and using ResponsiveContainer, but all the other charts don't behave in such away.
http://jsfiddle.net/znqLLdev/1/?utm_source=website&utm_medium=embed&utm_campaign=znqLLdev

[2016-11-04 15:45] konstantin24121 commented on #300
@xile611 if you want i can add width and height into componentWillReceiveProps and make PR, but i don't know how it feature will affect performance

[2016-11-04 16:35] matthewberkompas commented on #318
@xile611, in my project I have a line chart with an input above it to enable users to enter a goal number which will then appear on the chart as a dashed line using `strokeDashArray`. I just updated to version 0.16.2 which was intended to fix the problem @pcmaffey mentioned above (and it did for the most part). I'm running into an issue, however, where whenever I enter a goal number that is 2 digi

[2016-11-04 16:42] matthewberkompas commented on #302
@zhangjiang2013 did you find a solution to this? I'm facing the same issue when the `Tooltip` is large.

[2016-11-04 18:07] patryk0605 opened #321 "onClick for RadialBar not triggering"
Using the following as an example:

[code]

There is no event being triggered. Am I missing something? The [RadialBar](http://recharts.org/api#RadialBar) documentation states there is a supported `onClick` event.

[2016-11-04 18:28] patryk0605 opened #322 "ComposedChart missing unique "key" prop"
Within my console, I noticed the following message after latest update:

[code]

After reviewing the changes made, I believe the following is what is triggering the error:

https://github.com/recharts/recharts/commit/5860c457d87f93a6be0dd002b25cb274073ab17f#diff-82345e535b9ce2e7ebed868402aee7ceR110

I recommend setting a unique key to suppress the warning.

[2016-11-04 21:26] tacomanator opened #323 "Value in legend"
I would like to show the entry value in a pie chart legend. In the payload given to the custom legend content, however, the entry values are overwritten by their names:

https://github.com/recharts/recharts/blob/7a19c5aa839daadb8fb932c204d5b569dd919267/src/chart/PieChart.js#L130

I'm wondering why this is. Sometimes the value is better off displayed in the legend. I will get around this limitation

[2016-11-05 20:18] Jareechang commented on #300
@xile611, I was playing around with demo (Adding ResponsiveContainer to charts) and after investigation on the `react-container-dimensions` library, it seems that the library sets a new state **on resize** which is why it redraws (or re-render the child elements).

**src/component/ResponsiveContainer.js, line 83-85**

[code]
Function called on **resize** and **componentDidMount** in `<ContainerDim

[2016-11-05 23:57] petermikitsh opened #324 "[Legend] 'unknown props' warning when passing <div> as content property"
There is a bit of a gotcha with the `Legend` component. If you pass a React component to the Legend, you'll end up with `unknown props` console warnings.

[code]

In the right panel of the React debugger, you can see the unexpected props being passed to the component:

<img width="970" alt="screen shot 2016-11-05 at 4 53 05 pm" src="https://cloud.githubusercontent.com/assets/1571918/20034358/71fb1

[2016-11-06 09:50] konstantin24121 commented on #300
@Jareechang charts are rerender. But they not recalculate points for charts

[2016-11-07 08:55] xile611 commented on #322
@patryk0605 Thanks! It'll be fixed soon.

[2016-11-07 12:07] StefanSchwartze commented on #265
Still experiencing this issue in v0.16.2.

[2016-11-07 15:01] selimovicz opened #326 "onClick LineChart"
Is there any way to add onCLick event on LineChart or Line component in order to get exact point on which I clicked?

[2016-11-07 15:37] konstantin24121 commented on #265
0.16.1 fix problem

[2016-11-07 15:45] StefanSchwartze commented on #265
Okay, completely reinstalled recharts, now works fine. Thank you!

[2016-11-08 01:56] pierre-b commented on #279
Same problem here, @truenorthcreative how did you fixed this please?

[2016-11-08 04:19] mehdivk commented on #295
@xile611 thanks for this one

[2016-11-08 13:15] #163 closed

[2016-11-08 13:15] #248 closed

[2016-11-08 13:15] #254 closed

[2016-11-08 13:15] #261 closed

[2016-11-08 13:15] #288 closed

[2016-11-08 13:15] #308 closed

[2016-11-08 13:15] #321 closed

[2016-11-08 13:15] #323 closed

[2016-11-08 13:20] xile611 commented on #322
Fixed in version 0.17.1.

[2016-11-08 13:20] #322 closed

[2016-11-08 13:20] xile611 commented on #326
Fixed in version 0.17.1.

[2016-11-08 13:20] #326 closed

[2016-11-08 13:21] #297 closed

[2016-11-08 15:11] patryk0605 opened #327 "Enhancement Request: onClick for Legend"
Would it be possible to integrate an onClick event for `Legend` like `RadialBar` for example has?

[2016-11-08 18:28] vanthiyathevan opened #328 "Curve is getting unknown style prop"
Hello,
I was getting `CSSPropertyOperations.js:187 Uncaught TypeError: Cannot assign to read only property 'length' of object '#<CSSStyleDeclaration>'` when a chart is updated. On trying to debug I came across that the `Curve` component is getting this prop `{style:{length:'277px'}}` I can't seem to figure out where this prop is coming from. I will try to post the problem linechart config I have s

[2016-11-09 03:43] xile611 commented on #312
@sdevidi  Fixed in version 0.17.1. But some middle ticks may be hidden. Do you have any suggestion about this behavior ?

[2016-11-09 08:38] skullcrasher opened #329 "Toggle visibility of elements in a chart by clicking legend"
I could not find the mentioned functionality and I ask if there is a feature planned that allows to toggle the visibility of elements (line,bar...) in a chart by clicking on the legend entry for that element.

[2016-11-09 11:53] elnygren commented on #265
after installing `0.17.1` from npm this problem actually got **worse**.

Also, it is not just the "tooltip" that crashes chrome, just quickly changing the data source and redrawing the graph alone is enough to crash chrome. Before updating from `0.13.4` this problem was pretty hard to reprocude (had to redraw the graphs a lot until crash) - now switching the data just a couple times is enough for

[2016-11-09 13:36] xile611 commented on #265
@elnygren I want to confirm if the crash only happens in your local development mode ? I create a [jsfiddle demo](http://jsfiddle.net/jnz2pvze/)  which render a large number of points. But it never crash.

[2016-11-09 13:49] elnygren commented on #265
@xile611 I'm using `NODE_ENV=production webpack` for building my project and the problem is still there. I'm gonna try adding the minified version directly without going throuh my own webpack build pipeline.

This is how I init the charts:

[code]

[2016-11-09 14:20] xile611 commented on #265
@elnygren My chrome crashed sometimes in my local development mode. So I deleted `--hot` of webpack, chrome never crashed then.  I doubt the crash may cause by the hot updating of webpack.

[2016-11-09 15:03] konstantin24121 commented on #265
@xile611 true, without hot components works fine, but i have this problem only at Win, in Linux all fine with --hot too

[2016-11-09 15:36] patryk0605 opened #331 "onClick only triggers on area with a value"
I am currently using the `onClick` for `Bar` and `RadialBar`. One issue is that the `onClick` only triggers when a user clicks on the value and not the bar itself. I made an [example fiddle](https://jsfiddle.net/patryk0605/ydycdLpx/) to demo the issue.

Can the functionality be extended to trigger when the bar is clicked anywhere and not just on the value? The problem with only having the `onClick

[2016-11-09 16:05] magalhini commented on #265
I've also experienced the issue on development mode only, especially with `--hot` enabled. Unfortunately, since I was using `react-create-app` for this, I had basically no control over the development execution :(

[2016-11-09 18:21] colshacol opened #332 ""Can only update a mounted or mounting component.""
I have 10 square components in my view. Each square has a child that holds 15 graphs that feed off of a global data source that is updated once every second. When a square is hovered, the graphs container is rendered. When the square is un-hovered, the graphs container is removed completely from the DOM. This is an error that I am getting thrown randomly when I am alternating from hovered/not hove

[2016-11-09 20:49] kadariyp opened #333 "Negative values for custom renderer"
I have a situation where i need a custom renderer that returns <rect> component like below. One is the value that needs to have pattern as background and hence return two rect component and is called renderBChart. the other simply returns a rect component. But the problem i am facing is if one of the value is changed to negative, this rect doesnt load for its height is negative. What would be the

[2016-11-09 21:04] colshacol commented on #332
I've figured out that it happens when I activate a hover on a different graph before the previously hovered one has unmounted. Still don't know how to fix it, though.

[2016-11-09 22:53] FabioFleitas opened #334 "Nothing displayed when data array is empty"
Currently nothing gets rendered if `data` is an empty array. Is there a way to have it either display an empty chart or have a chart with a message such as "No data to display"?

[2016-11-10 01:35] matthewberkompas commented on #318
@xile611 any clues on what this issue is?

[2016-11-10 03:07] xile611 commented on #265
@konstantin24121 @magalhini I found several [memery leak](https://github.com/webpack/webpack/issues/1724) issues of webpack. For the crash problem, we can remove hot component of webpack temporarily, and wait for webpack developers to fix it.

[2016-11-10 03:15] xile611 commented on #334
@FabioFleitas Such empty message could be very different. So It's recommended to write the message yourself, because you can judge whether the data is empty.

[2016-11-10 03:15] #334 closed

[2016-11-10 03:24] xile611 commented on #332
@colshacol This is duplicated with #249 .

[2016-11-10 03:24] #332 closed

[2016-11-10 03:41] FabioFleitas commented on #334
Fair enough, but what about nothing rendering when the data array is empty?
Wouldn't it be better to render an empty graph?

On Wed, Nov 9, 2016 at 7:15 PM xile611 <notifications@github.com> wrote:

[2016-11-10 03:41] xile611 commented on #333
@kadariyp You can check [this demo](http://jsfiddle.net/rsy7fva9/) for solution.

Meanwhile it's recommended to create a jsfiddle demo when you meet some problem. 😀

[2016-11-10 03:41] #333 closed

[2016-11-10 03:42] xile611 commented on #334
@FabioFleitas  The problem is that nothing can be rendered.

[2016-11-10 04:03] xile611 commented on #331
@patryk0605 `onClick` on `ComposedChart` can be triggered on the *band* of bar. But it seems some bug happens here, the event will be triggered twice. Please check [this demo](https://jsfiddle.net/xbwwwxfw/).

[2016-11-10 04:05] xile611 commented on #329
@skullcrasher Thank you for great advice. we'll try to implement this feature.

[2016-11-10 04:10] xile611 commented on #266
@patryk0605  Maybe you can change the position of label to insure the label to be showed.

[2016-11-10 04:10] #266 closed

[2016-11-10 04:11] xile611 commented on #218
Fixed in version 0.17.1.

[2016-11-10 04:11] #218 closed

[2016-11-10 06:18] xile611 commented on #318
@matthewberkompas Can you create a jsfiddle demo ?

[2016-11-10 06:19] #312 closed

[2016-11-10 06:21] xile611 commented on #209
Fixed in version 0.17.1.

[2016-11-10 06:37] konstantin24121 commented on #265
@xile611 I do not feel strong discomfort when i remove --hot because project on which I'm working on it is poorly configured and there is no hot-updated correctly. I think we can try webpack 2.*, maybe here this problem solved

[2016-11-10 06:58] xile611 commented on #232
@susanafcosta Because we set some default  values of`fill` and `stroke` in `Scatter`, `Symbol` and some other components, so the style you set in css can't be applied to the dots. It's recommended to set such props, like `fill`, `stroke` and so on, in attributes just like svg element.

[code]
Meanwhile I should remove some needless default props to make overwriting style much easier.
See #210 for

[2016-11-10 06:58] #232 closed

[2016-11-10 06:59] xile611 commented on #232
@Rainethief `tickSize` and `tick` work fine. Do you have any demos ?

[2016-11-10 07:06] xile611 commented on #265
@konstantin24121 Yeah, looking forward to stable webpack 2.x.

[2016-11-10 07:31] #262 closed

[2016-11-10 09:57] xile611 commented on #185
I have checked LineChart in a table, seems no problem.

[2016-11-10 09:57] #185 closed

[2016-11-10 13:51] vaeum opened #335 "Add arrow to chart"
Hello, a use recharts 0.17.1 and how add this arrow to chart. And add growth/decrease label
![ott hub - reporting requirements v1 0 2016-11-10 16-49-36](https://cloud.githubusercontent.com/assets/6481202/20179176/e57e4fd4-a765-11e6-9910-e1343421e973.png)

[2016-11-10 14:07] hootbah opened #336 "Can not view recharts website"
There seems to be an issue on the recharts website.
When viewing the page at http://recharts.org

The error is: Failed to load resource: the server responded with a status of 404 (Not Found) http://recharts.org/vendors.js

[2016-11-10 14:17] supersteves commented on #316
I'm interested in this also. I want to be able to create confidence intervals for a timeseries prediction, for example:

![image](https://cloud.githubusercontent.com/assets/10280734/20179961/535ed1ce-a750-11e6-8210-9acd98e1bbc9.png)

[2016-11-10 14:39] LoriKarikari commented on #336
Same here can't access the website

[2016-11-10 15:02] patryk0605 commented on #331
@xile611 Your solution resolves my issue for `ComposedChart`, however `RadialBarChart` does not seem to support the same `onClick`. Any method I can use for the whole `RadialBar` to support `onClick` and not just the area with a value?

[2016-11-10 16:52] joyguy55 commented on #336
Dido

[2016-11-10 18:00] sburns commented on #336
For the record you can clone [the repo](https://github.com/recharts/recharts.org) and host it locally.

[2016-11-10 18:37] akvanhar commented on #287
@xile611 would love to hear an update about this enhancement.

[2016-11-10 21:54] nwhitmont commented on #336
The Website is Down!

[2016-11-10 22:29] nwhitmont commented on #336
@arcthur @hootbah @LoriKarikari @joyguy55 @sburns  Looks like CloudFlare issue, could be down 24-48hrs...

[2016-11-10 22:33] arcthur commented on #336
thank you for @nwhitmont . It's true that the website will down 48h.
you could pull down the code from recharts/recharts.org, and `npm install`, the `npm run start`. That will start the local host.

[2016-11-10 22:34] xile611 commented on #287
@akvanhar Yeah, We're trying to refactor the animation part. But it may take some time.

[2016-11-11 00:01] akvanhar commented on #287
Thanks for the update. I'll stay tuned and will try to implement a work-around in the meanwhile.

[2016-11-11 00:29] xile611 commented on #335
@vaeum

You can check [this demo](http://jsfiddle.net/tbs7f59s/) for detail.

[2016-11-11 00:29] #335 closed

[2016-11-11 00:39] xile611 commented on #287
OK! Both PR and suggestions are welcome. @akvanhar

[2016-11-11 00:41] xile611 commented on #328
@vanthiyathevan Can you create a jsfiddle demo ? I don't know how to reproduce this problem now.

[2016-11-11 03:11] ottos13 opened #337 "Document is not defined"
I'm using static data for some bar charts and the page was rendering fine. Once I've saved and closed out, I come back in the next time (without any code changes) and the page only displays the following. I'm unsure what I've missed when it was displaying correctly until this point. It's happened now on 2 files that I've tried creating from scratch.

ReferenceError: document is not defined
   at T

[2016-11-11 09:02] xile611 commented on #337
@ottos13 How about your version of recharts ?

[2016-11-11 13:04] andremuller commented on #336
The vendor.js file is throwing a 404.

[2016-11-11 14:19] git-toni opened #338 "Problem using Recharts as UMD lib"
Hi,

While loading Recharts via `https://unpkg.com/recharts@0.17.1/umd/Recharts.js`  , on page load I encounter these issues:

[code]

This is webpack's `externals` entry for recharts:
[code]

Any ideas?

[2016-11-11 14:25] xile611 commented on #338
@git-toni Check the jsfiddle [demo](http://jsfiddle.net/x1yoboc7/48/) for detail. You should reference
 some others js files.

![image](https://cloud.githubusercontent.com/assets/6111424/20218065/c3815a2c-a85d-11e6-98af-0ab4532d402f.png)

[2016-11-11 14:25] #338 closed

[2016-11-11 14:43] xile611 commented on #336
Fixed.

[2016-11-11 14:43] #336 closed

[2016-11-11 17:36] nwhitmont commented on #336
Thank you @arcthur & @xile611 for the quick response!

[2016-11-11 20:35] matthewberkompas opened #339 "Custom Y-Axis Labels"
@xile611, I'm not sure how to use a custom component for the `label` prop on the recharts `YAxis` component. Here's what I'm trying to do:
[code]
What am I doing wrong here? Thanks in advance!

[2016-11-13 22:33] ottos13 commented on #337
"recharts": "^0.15.3"

[2016-11-14 02:39] xile611 commented on #337
@ottos13 version 0.17.1  has fixed this problem.

[2016-11-14 03:34] ottos13 commented on #337
Thank you that has fixed my issue

[2016-11-14 03:34] #337 closed

[2016-11-14 14:24] elnygren opened #341 "Recharts crashes Chrome (when redrawing on props change?)"
**Note**: Previous discussion at https://github.com/recharts/recharts/issues/265, however, the tooltip problem seems fixed. Some background in: https://github.com/recharts/recharts/issues/265#issuecomment-259397616.

Quickly changing a recharts graph's input data making recharts redraw the graph seems to crash Chrome due to an unknown (SVG?) bug. This seems to happen easier when there are a lot of

[2016-11-14 14:25] elnygren commented on #265
Seems like the tooltip issue has been fixed... I've set up a new issue with an example project that demoes the crash. https://github.com/recharts/recharts/issues/341

[2016-11-14 23:14] RoarkeRandall opened #342 "Feature Request: Default tooltip has no formatting for data key label"
The default tooltip is very helpful and meets the minimum features for most people. It has a labelFormatter option and a formatter for the value. It's unfortunately missing a formatter for the axis name. An example:

Lets say we're measuring leads per day. Our object may be:

`{
     leads: 42,
     day: '2016-11-14'
}`

If day is the x axis, and leads is the y axis, we can format '2016-11-14' wit

[2016-11-15 05:30] nrkin commented on #170
Sorry to comment on a closed issue - but the question I have is related to this question.
I have a spark line kind of component with tooltip. I have "dot" set to false. If I use Tooltip in the LineChart, the vertical reference line becomes visible. Is there a way to hide the line?

[2016-11-15 05:38] xile611 commented on #170
@nrkin  You can set the props `cursor` of `Tooltip`  to be `false`.

[code]

[2016-11-15 05:47] nrkin commented on #170
@xile611 : Thanks! It worked.

[2016-11-15 07:17] xile611 commented on #339
@matthewberkompas You do it right.

[2016-11-15 09:41] xile611 commented on #341
@elnygren

I try to create a jsfiddle [demo](http://jsfiddle.net/32ekyL48/) similar to your demo. And switch different datas quickly, it never crash in chrome. Can you try ?

[2016-11-15 11:10] elnygren commented on #341
@xile611 I did try to make the jsfiddle you provided earlier crash but was not successful :/

However, I wouldn't prefer jsfiddle over an actual real-life project when testing this library. Something's making Chrome crash in my demo project and it might have something to do with how Webpack bundles your library (in production, not in hot reload/dev mode).

Anyway, I'd really like to use recharts s

[2016-11-15 11:27] xile611 commented on #341
Yeah, jsfiddle is the simplest environment. I use it to confirm whether the crash  happens online.

And I found it's really strange. I clone your project and run it, chrome crash every time when I click *Daily*. But after I restart my mac, the crash never happen.

[2016-11-15 12:18] #331 closed

[2016-11-15 12:18] #180 closed

[2016-11-15 12:18] #240 closed

[2016-11-15 12:18] #329 closed

[2016-11-15 12:23] xile611 commented on #327
@patryk0605  Legend support onClick, onMouseEnter, onMouseLeave in version 0.18.0 now.

[2016-11-15 12:23] #327 closed

[2016-11-15 16:22] patryk0605 opened #343 "RadialBar onClick for entire bar, not just value"
This issue is an extension of #331. Currently `RadialBar` onClick only works on an area where a value exists. As seen in this [fiddle demo](https://jsfiddle.net/patryk0605/ydycdLpx/4/), when one value is large and the other is small - it becomes difficult to click the small value. I had moved the `onClick` from `RadialBar` to `RadialBarChart` to see if that would make a difference like it did for

[2016-11-15 16:26] elnygren commented on #341
@xile611 I can confirm too that restart solved this problem - did you ever find a way to get the crash happen again after restart?

Would still be nice to find out the underlying reason as I can't really tell all chrome users to restart their macbook before using the site :p

It might be though that only a small portion of Chrome users are actually affected... hard to say.

[2016-11-15 16:36] matthewberkompas commented on #339
Okay, thanks!

[2016-11-15 16:36] #339 closed

[2016-11-15 21:08] xuerion opened #344 "Black boxes / artifacts on Linux Firefox"
![screenshot from 2016-11-15 14 59 37](https://cloud.githubusercontent.com/assets/6878165/20323994/8909a7d4-ab44-11e6-94db-9e157108d2d9.png)

With animation and tooltip turned on, when I move the mouse around the graph, every part of the graph the tooltip draws through turns black. This is happening on Line and Bar too.

This is happening on Firefox 49.0 on Ubuntu 14.04 LTS. Chrome doesn't have th

[2016-11-15 22:05] FabioFleitas opened #345 "Empty Chart Display Possible?"
Is it possible to display an empty chart (such as [this](http://i.stack.imgur.com/9ImRB.png)) with recharts?

[2016-11-16 01:48] xile611 commented on #249
We use `react-resize-detector` to refactor ResponsiveContainer. I think this has been fixed.

[2016-11-16 01:48] #249 closed

[2016-11-16 15:07] nick-barth commented on #322
Running version 18.0 still receiving this warning, on Area chart.  Quick workaround is assigning keys based on Math.Random(), or from the first parameter, but I'd much rather not.

[2016-11-16 15:35] godmar commented on #196
How about for BarChart?
I'm using

[code]

and the chart does not show.
Error:

[code]

[2016-11-16 15:42] clementdevos commented on #290
I'd be interested as well, i might do it soon as i'm currently working on it.
I've already contributed to DefinitelyTyped so it should not take me too much time.

[2016-11-16 21:39] AshworthHub opened #346 "RadialBar label"
The documentation says the label accepts a function but I can't get it to run.

I created a solid circle chart w/ a value in the middle based off the circle chart; to create the center label I used label={this.renderCustomizedLabel} off Pie. I then tried the same with RadialBar and the function doesn't get called.

Any ideas?

[code]

[2016-11-17 03:50] jdbence commented on #246
@HashDot  [Live Example](http://jsfiddle.net/ca1g5Lrf)

Most of the time people forget to use **this.setState()**

[2016-11-17 05:49] xile611 commented on #196
@godmar When you use `ResponsiveContianer`, we'll try to calculate the width and height of ResponsiveContainer's parent node. But If the height of parent node is 0, we don't know how to calculate the height of `ResponsiveContainer`.  We have many discussion in #135 .  Maybe you can set a `minHeight` to `ResponsiveContainer`.

[2016-11-17 05:52] xile611 commented on #346
@PeteAshworth The label of `RadialBar` was missed.

[2016-11-17 05:59] xile611 commented on #322
@nick-barth Can you create a jsfiddle demo ? I can't reproduce this warning.

[2016-11-17 06:07] Moeface opened #347 "Custom axis tick questions"
1. Is it possible to use HTML/React components that are HTML/JSX (i.e. not SVG elements) for custom ticks?
1. Is it possible to pass an object to the tick as the dataKey, rather than just a single key (string/number). I'm hoping to create a custom tick that contains a URL to an image that is rendered and then links to another URL.

Thanks for the great library!

[2016-11-17 06:33] xile611 commented on #347
@Moeface You should use svg React components, and svg elements can support link too.

[svg link](https://www.w3.org/TR/SVG/linking.html)

And dataKey should be a string or a number. I don't know why you want to pass an object to the `dataKey`.
I create a simple [demo](http://jsfiddle.net/vLspjuo2/) of svg linking. You can check whether your demand can be filled.

[2016-11-17 06:40] xile611 commented on #341
@elnygren It's hard to find the real reason.

[2016-11-17 10:03] xile611 commented on #341
@elnygren I find that my chrome was updated to the version 54.0.2840.98 (64-bit) after restart my mac. Maybe some bug of old chrome cause the crash.

[2016-11-17 11:09] Moeface commented on #347
My use case is that I would like to use a link react component that I have created as a custom tick. This component has variations based on props that it receives, In addition to that, I'd like to show an image above each of the buttons.

I'd need to pass an object as the dataKey because in this case, I would need:

- The image URL
- The link URL
- Props that the button (button text, colour, etc)

[2016-11-17 13:00] godmar commented on #196
This worked for me:

[code]

presumably because it forces a height based on width.

[2016-11-17 13:31] godmar opened #348 "BarChart animates from zero instead of old values when redrawn"
I have a BarChart whose data changes from, say: [2 0] to [1 1]. Instead of the 2-bar shrinking and the 0-bar growing, recharts starts both bars at 0 and grows them to 1 in the animation when the graph is redrawn.

Is there a way to change this behavior?

[2016-11-17 15:33] Eric24 commented on #316
+1 (for exactly the same purpose--confidence intervals). Specifically, it would be an area component with two values, "high" and "low", with a line component drawn over it.

[2016-11-17 15:34] Eric24 commented on #305
+1

[2016-11-17 15:36] Eric24 commented on #267
+1

[2016-11-17 15:41] Eric24 opened #349 "Add Open-high-low-close and Candlestick Charts"
One of the few "common" charts that can't be done with ReCharts, but something that is almost indispensable when displaying financial data (among others). Really just a chart with up to four data values, displayed in two typical ways:

- https://en.wikipedia.org/wiki/Open-high-low-close_chart
- https://en.wikipedia.org/wiki/Candlestick_chart

[2016-11-17 17:07] clementdevos opened #350 "Q : Brush and Y Domain"
Hey,

I've been trying Recharts for some charts, looks great and easy to use.
However, is it possible to keep the domain (let's say  0-max) when using the brush?

My data goes from 0 to 4000 and when reducing the view, i'd like to keep the Y domain at 0-3800 not 0-[max brush displayed dataset]

Cheers !

[2016-11-18 01:26] mwolson opened #351 "PropTypes warning when using XAxis with ticks that are array of strings"
Tested with recharts v0.18.0.

Sample code:

[code]

PropTypes warning:

[code]

Workaround:

CartesianAxis.propTypes.ticks = React.PropTypes.any;

[2016-11-18 02:15] amnsss opened #352 "Tooltip‘s content should have a sort func. Provide a interface to sort it's payload."

[2016-11-18 05:50] xile611 commented on #347
@Moeface As you know,html elements can't be rendered in the svg elements, so we can't support non-SVG component.

[2016-11-18 05:54] xile611 commented on #350
@clementdevos  You can set the `domain` of `YAxis` to be `[0, 3800]`.
[document of YAxis](http://recharts.org/api#YAxis)

[2016-11-18 06:02] xile611 commented on #352
@amnsss Tooltip does have a props `itemSorter` to support sorting payload. But It was missed in document, 😭. I'll update the document. Thanks!

[2016-11-18 06:14] amnsss commented on #352
ok, quickly updated~ thanks

[2016-11-18 07:01] xile611 commented on #352
@amnsss  Done!

[2016-11-18 07:01] #352 closed

[2016-11-18 07:06] xile611 commented on #305
Done in version 0.18.0.

<img width="761" alt="wangwang20161118150525" src="https://cloud.githubusercontent.com/assets/6111424/20421688/8890a056-ada0-11e6-9c7f-af04697caad7.png">

[2016-11-18 07:06] #305 closed

[2016-11-18 07:07] #300 closed

[2016-11-18 07:09] xile611 commented on #349
Duplicated with #267 .

[2016-11-18 07:09] #349 closed

[2016-11-18 07:19] xile611 commented on #345
@FabioFleitas When the data is empty, we have no information to show in the chart. When the data is not empty, we can show a empty chart like [this demo](http://jsfiddle.net/qh81naqm/).

[2016-11-18 07:19] #345 closed

[2016-11-18 07:56] xile611 commented on #342
@RoarkeRandall `Line`, `Area`, `Bar`, `Scatter` , etc, have a props `name`, If you have specified props `name`, the `name` will be used to display in `Legend` and `Tooltip`.

[Document of Area](http://recharts.org/api#Area)
[Document of Line](http://recharts.org/api#Line)

...

[2016-11-18 07:56] #342 closed

[2016-11-18 08:06] Moeface commented on #347
Sure, but even if I used SVG to recreate the look of the button, I'm still unable to pass the `href` to the button __and__ the image URL, because `dataKey` doesn't support objects.

[2016-11-18 08:12] clementdevos commented on #350
My bad, i had undefined values in my array and Math.max returned NaN, not the max value...

Cheers!

[2016-11-18 08:20] FabioFleitas commented on #345
Thanks for the answer @xile611. One more quick follow-up question: is it possible to display the Y-Axis range when the Lines are not rendered?

[2016-11-18 08:56] xile611 commented on #345
@FabioFleitas Only when you specify the `dataKey` of `YAxis` like [this demo](http://jsfiddle.net/qh81naqm/1/).
Otherwise `YAxis` doesn't know what to show, or just some fixed numbers.

[2016-11-18 09:58] xile611 commented on #350
@clementdevos Maybe there is some bug about `undefined`, I'll check it.

[2016-11-18 09:59] xile611 commented on #348
@godmar Thanks! We're trying to refactor animation.

[2016-11-18 09:59] xile611 commented on #351
@mwolson Thanks! It'll be fixed in the next version.

[2016-11-18 14:41] ktabori commented on #342
I have the same problem and I don't think that name prop solve this, because I can only have static content in `name` but just like @RoarkeRandall I would like to format my dynamic content, before I set it in as a label.

[2016-11-18 15:28] truenorthcreative commented on #300
Why did this close?

[2016-11-18 18:10] FabioFleitas commented on #345
@xile611 Perfect! That's exactly what I was looking for. Thank you

[2016-11-21 11:06] #351 closed

[2016-11-21 16:51] supersteves opened #354 "Stacked bars performance"
I'm using stacked bars, but the set of stacks is different per bar. I think this is not the use case the current design is for.

I have about 20 bars, and 20 stacks per bar. There are about 400 unique stack values, since this is a categorical hierarchy (e.g. bars are countries, stacks are cities).

So for every bar+stack combination (400x) I'm rendering a `<Bar>`. After rendering, each of those fu

[2016-11-21 19:56] komplexb opened #355 "ScatterChart: Custom Tooltip Text"
I didn't see a formal way to do this, so I passed `status` as the `ZAxis` value.
![Custom Tooltip](https://cloud.githubusercontent.com/assets/3874813/20497404/f8c44366-aff6-11e6-933b-8bdff158d6e1.png)

[code]
then retrieved it as a payload value.

[code]

Of course this prevents me from using the ZAxis value as intended.
If there really is no formal way to do this, I'd like to take a shot at a PR,

[2016-11-21 22:09] millerized opened #356 "Multiple y-axes breaks chart when plotting only single datum"
See fiddle for example: http://jsfiddle.net/millerized/r19hetwn/7/
You can uncomment line 6 and rerun to see the chart plot correctly.

[2016-11-22 05:05] jlubeck opened #357 "Tooltip formatter per yAxis"
It seems like there is no way to use different formatters per axis inside the Tooltip.

I have a LineChart with 2 Y axis, left is money and right is regular number. So I made a formatter to show the $ symbol, but it is displaying for both labels.

Is there a way to make one formatter for each axis?

Thanks

[2016-11-22 05:44] xile611 commented on #357
@jlubeck You can specify `formatter` for each `Line`, and the formatter will be used to format value in `Tooltip` like this [demo](http://jsfiddle.net/s0kne60e/).

[2016-11-22 05:46] jlubeck commented on #357
Ahh, awesome. Thanks!

[2016-11-22 05:46] #357 closed

[2016-11-22 10:24] truenorthcreative opened #358 "ResponsiveContainer ability to set maxHeight"
@xile611 I added a maxHeight definition to `lib/component/ResponsiveContainer.js` that might be helpful for others.  I didn't see a way to contribute to the npm recharts, so I apologize if this isn't the venue for that.

**Added** `maxHeight = _props.maxHeight,` line 125

**Added**: `if(maxHeight && (calculatedHeight > maxHeight)) calculatedHeight = maxHeight;` after `calculatedHeight = calculated

[2016-11-22 12:30] jamesremuscat commented on #356
This was working in v0.13.4 - looks like it was broken in either 0.14.0 or 0.14.1, the former seems to have disappeared from npm.

[2016-11-22 12:38] xile611 commented on #358
@truenorthcreative You can fork recharts in github, add create a PR.

[2016-11-22 12:43] millerized commented on #356
Yeah, we found it was broken in v0.15.1. We are now using the latest v0.18.0 build.

[2016-11-22 13:53] jamesremuscat commented on #356
I think the issue I'm encountering is slightly different to yours (though possibly related); https://github.com/recharts/recharts/commit/2b07adff1c92bc7d1cacdd4324b151228475538a#diff-c72854427dea8d1e41e88ad1f5fad89dL189 changes the behaviour of the chart such that when you have multiple datapoints but null/undefined values for all but one of a series attached to a secondary y-axis, that axis is br

[2016-11-22 16:27] huozhi opened #359 "Axis size changes between the server side and the client side rendering"
I setup a simple demo with react ssr.

[code]

But the browser always throw the Warning:

[code]

I refresh the browser many time seeing that, the last tick of the x and y axises always move positions when rendering changes. Looks like the axises was recalculated in the client rendering.

The client rendering was correct

![image](https://cloud.githubusercontent.com/assets/4800338/20531973/59cbf31

[2016-11-22 19:37] truenorthcreative commented on #358
Thanks @xile611 -- I submitted a PR.

[2016-11-22 19:37] #358 closed

[2016-11-23 00:44] MythlinMasterdo opened #361 "Multiple charts not loading consistently"
I have a pie and line chart on one React file and either the pie chart will load or the line chart will load. There is no observable pattern, both charts are grabbing data from componentWillMount.

[2016-11-23 02:25] xile611 commented on #359
@huozhi In  CSR, we'll calculate the width / height of ticks, and adjust the position of tick If no enough space to display the whole tick. But this calculation can't be done in SSR.

[2016-11-23 02:33] huozhi commented on #359
@xile611 Thanks for explanation! I' ll just ignore the warnings.

By the way, I was trying to generate a SVG graph by SSR. Now I just render the `<LineChart>` and got the structure like `<div ...><svg /></div>`. And then erase the string of `<div/>`, send SVG content to the client. Is there any other way to get it work better or easier ? : )

[2016-11-23 02:34] xile611 commented on #361
@MythlinMasterdo Can you create a simple demo in jsfiddle?

[2016-11-23 02:37] #361 closed

[2016-11-23 03:07] xile611 commented on #359
@huozhi Temporarily no better way, unless all the components can be implemented by svg elements. Now `Tooltip` and  `Legend` are implemented by html. We'll discuss this question. Thanks.

[2016-11-23 03:20] xile611 commented on #355
@komplexb Thanks for great advice. It's a workaround to add a `ZAxis` to parse additional information. And I intend to add more information in [payload of Tooltip](https://github.com/recharts/recharts/blob/master/src/chart/ScatterChart.js#L231).

[2016-11-23 05:51] #350 closed

[2016-11-23 06:10] #341 closed

[2016-11-23 06:17] #265 closed

[2016-11-23 07:04] xile611 commented on #354
@supersteves
I arrange your issues:

## A rectangle is rendered for each value of a stacked bar

 Each stacked bar may have different attributes, so we need a node for each value.  I wonder how to colour the rectangle when only draw a single rectangle for all the stacked value ?

##  Render `<Animate>` for empty value

It'll be fixed.

##  Duplicated `Animate` for rectangles of `Bar`

It'll be fix

[2016-11-23 07:35] huozhi commented on #359
@xile611 Thanks!

I found that `src/chart/generateCategoricalChart.js` rendered a div wrapped `<Surface />`. I guess you could provide a way only render the chart SVG without the container, Tooltip and Legend. SVGs usually are regarded as static image, they don't need too much interaction.

Thanks a lot for replying my questions. : )

[2016-11-23 07:35] #359 closed

[2016-11-23 07:36] #293 closed

[2016-11-23 09:08] supersteves commented on #354
Fantastic!

Not sure I understand the first point. I think of stacked bars as a hierarchy: bars (columns) then stacks (cells). You have effectively the inverse, stacks (plots) then bars (cells), which becomes inefficient where stack keys are unique per bar.

I look forward to the fixes, and perhaps it will be sufficiently improved in performance in this scenario.

Thanks!

[2016-11-23 09:48] xile611 commented on #354
@supersteves Do you mean that the calculation (done by [`getStackGroupsByAxisId`](https://github.com/recharts/recharts/blob/master/src/util/CartesianUtils.js#L98)) is inefficient when each `Bar` has unique `stackId`?

It's recommended to remove `stackId` in such case, because no bars need to be stacked.

And the stack will effect the domain of `YAxis`, so *stack* must done before *bars*.

[2016-11-23 12:55] supersteves commented on #354
See here
http://jsfiddle.net/kca9npkg/6/?utm_source=website&utm_medium=embed&utm_campaign=kca9npkg

This simple example has 6 visual elements (bar x stack combinations), but demonstrates some issues that arise when you have 500 visual elements (e.g. 25 bars, 20 stacks, possibly unique to each bar).

(I think I was objecting to the need for `<Bar>` per visual element - but I'm not sure that it's a

[2016-11-23 12:57] supersteves commented on #354
(link updated)

[2016-11-23 13:00] #343 closed

[2016-11-23 13:00] #355 closed

[2016-11-23 13:00] #356 closed

[2016-11-23 13:14] xile611 commented on #354
@supersteves
Thanks.  It seems strange in your demo, I'll think about your case.

And I'll try to remove some needless nodes (like g), still more optimization need to done for large amount of data.

[2016-11-23 14:29] millerized commented on #356
Confirmed 6537a85 (v0.19.0) does fix this in our implementation.

💯🍻 +10 @xile611

[2016-11-23 15:00] AshworthHub commented on #346
Thanks for pushing fix for the RadialBar; however, I still can't it it to work and now all my charts are no longer rendering custom label.  I attached a version where I use the Pie chart to build a circle with a number in the middle, which with 0.19 it's no longer working.

0.18
![screen shot 2016-11-23 at 7 48 30 am](https://cloud.githubusercontent.com/assets/7296078/20566209/784c4d12-b151-11e6-8

[2016-11-23 15:46] AshworthHub commented on #346
Got it working with using text vs Text as the customized label.

[2016-11-23 16:30] AshworthHub opened #362 "Bar Tooltip"
With the 0.19 release; the tooltip when using bar is acting strange.  Before, I was using onMouseEnter of BarChart to get data.x (which would set/position the tooltip in the middle of a sized bar).  But now, it seems it doesn't matter what I set for position or coordinate, the tooltip doesn't move. Its stuck in the top-left corner.

In addition; the data passed changes depending where I hover over

[2016-11-23 16:38] earthinferno opened #363 "React Dom Server 15.4.0"
Given that your library has a dependency on react-dom-server and that the good folks at React state 'We don't recommend using React DOM Server on the client in most cases'; are there any plans to remove this dependency or separate it out into a second library?

[2016-11-23 18:17] komplexb commented on #355
Hey @xile611 I see your commit, but I'm not clear on how I would make use of the changes. MInd adding an example here?

[2016-11-23 19:39] akvanhar opened #364 "ie11 legend positioning bug"
I have the following legend code:
`<Legend
    align='right'
    verticalAlign='top'
    height=36
    iconSize=10
/>`

This works as expected in Chrome, Safari, Firefox, MSEdge
But in ie11, the positioning is wrong.

My workaround: to add custom css top: -60px specifically for ie11

See attached screen shots.
![ie11legendbug](https://cloud.githubusercontent.com/assets/10929533/20576130/69648c22-b

[2016-11-24 11:56] krispyp opened #365 "Getting cartesian coordinates for a mouse position"
Hi,

I'm creating a scatter plot, however I'm adding my own mouse so I can implement a rectangular selection. Given my mouse coordinates, is there any way I can calculate what the cartesian coordinates should be, eg:

getCartesianCoordinatesForMouse(mouseX, mouseY, width, height,...)

Thanks!

Chris

[2016-11-24 12:15] xile611 commented on #362
@AshworthHub The  `payload` in some charts diffs, so I unify the `payload` to be the original `data` or `entry`. Can you support your case more detail ?

[2016-11-24 12:17] xile611 commented on #300
@truenorthcreative Can you support online demo? Your problem can't be reproduced.

[2016-11-24 12:22] xile611 commented on #346
@AshworthHub Thanks!  `Text` only show when `x` and `y` are number in 19.0. I should fix it.

[2016-11-24 12:36] xile611 commented on #355
@komplexb You can get more `props` in `CustomTooltip` without `ZAxis`. Maybe you can console `props` to see detail.

[2016-11-24 12:43] xile611 commented on #365
@krispyp You can add `onMouseEnter`, `onMouseLeave`, `onMouseMove`, `onClick` in `LineChart` (or `BarChart`, `AreaChart`, `ComposedChart`), and you'll get `chartX`, `chartY` in callback.

[2016-11-24 13:13] krispyp commented on #365
Hi,

Thanks for the reply. Unfortunately I can't use this, as I'm using hammer.js to support touch interaction. I need some way to obtain the cartesian (chart) coordinates given some mouse coordinates.

[2016-11-24 13:20] krispyp commented on #365
Also from looking at the code chartX/chartY are generated using:

export const calculateChartCoordinate = (event, offset) => (
  {
    chartX: Math.round(event.pageX - offset.left),
    chartY: Math.round(event.pageY - offset.top),
  }
);

So this doesn't actually give the cartesian coordinates, it gives the coordinates offset by the chart axes.

I think I need to use d3 scales.

[2016-11-24 13:51] supersteves opened #366 "Drop the classnames"
Recharts is injecting className into many of its React rendered elements. Out of the box Recharts doesn't need classnames, but they're added presumably as a convenience for those who want to use CSS to style or customise their charts or to add custom CSS based animation.

Given that the DOM is far and away the biggest cause for poor performance in SVG based charts, and React itself will add some o

[2016-11-24 15:00] krispyp commented on #365
A bit of background. We're trying to add marquee rectangular drag selection to create a database query that will filter the points by their real X and Y data values (not pixels).

I can do this if I have access to your d3 scale which is internally as xAxis.scale() (in fact I'll want xAxis.scale.invert() to convert pixel values to data values). However you don't expose this anywhere that I can get

[2016-11-25 05:31] dsmalicsi commented on #348
A similar behavior happens as well with PieChart. I have data on a state, and when it updates, the animation restarts from 0.

[2016-11-25 11:16] xile611 commented on #366
@supersteves We need more performance data. `className` is absolutely no problem for normal data. For huge size data, we'll do more optimization to omit some nodes,  not just remove `className`.

[2016-11-26 15:38] Eric24 opened #367 "Margins in composed charts with just line and area"
I believe a composed chart automatically leaves room for bar charts, even if none are defined (extra space to the left and right side, extra-wide cursor, etc.). That makes sense if the chart was going to contain a bar, but not if it only contains lines and areas. Is there a recommended way to eliminate the extra "bar" room from the composed chart?

[2016-11-26 15:47] Eric24 commented on #309
Actually, better yet, this would just be an option on a pie chart. The pie chart can already do the visual representation of this, but the ends are flat instead of curved. I think adding an 'end-radius' attribute is all that would be needed.

[2016-11-26 15:59] Eric24 commented on #210
+1 for CSS-Modules support.

[2016-11-26 17:08] noahnu commented on #300
@truenorthcreative Are you generating the data from a function like so: http://jsfiddle.net/h449h9oe/ ?

[2016-11-28 02:37] Eric24 commented on #154
I actually prefer using Composed, Line, or Area charts for time-series data. It works OK with the X axis being "category", but I think it makes more sense to use "number" (there are fewer tick labels and the labels shown are evenly spaced, regardless of the exact time values in between). Of course, as expected, it doesn't work (exception right after the X axis is redrawn), but why it is a problem

[2016-11-28 03:05] Eric24 opened #368 "Omit specified line/bar/area/etc. from legend and tooltip"
Is there a way to omit a specific line/bar/area/etc. from the legend and tooltip, other than using a custom content for these? It would be desirable to be able to control what data series appear in the legend and tooltip at the data series component level.

[2016-11-28 05:40] xile611 commented on #154
@Eric24 Both `XAxis` and `YAxis` can be "number-axis" now.

[2016-11-28 05:45] xile611 commented on #368
@Eric24 Can you give a detail example about how to control the content in payload?  Whatever, It's hard for *recharts* to meets all the needs, so customized `content` is needed.

[2016-11-28 08:49] nilyang opened #369 "can Recharts build boxplot and scatters mixed graph like G2?"
I recently want to build a graph with boxplot and scatters graph mixed like G2 did.
[https://g2.alipay.com/demo/01-point/jitter.html](url)

Can Rechats build that ?

[2016-11-28 12:26] xile611 commented on #369
@nilyang Recharts don't support box-plot now.

[2016-11-28 12:28] xile611 commented on #210
CSS-Modules will bring a lot of webpack configurations, It seems messy.

[2016-11-28 13:37] Eric24 commented on #154
Hmmm. Since what version? We are having trouble with this with version 0.18.0.

[2016-11-28 13:41] Eric24 commented on #368
Yes, I understand that no SDK can possibly meet all needs without customization, but this seems fairly trivial. All I'm looking for is a way to "hide" a child component from appearing in the legend and tooltip. So for example, a Line chart with several Line components where I don't one one or two of those components to appear in the legend/tooltip; by default, all components would appear as they d

[2016-11-28 13:42] Eric24 commented on #210
That could be. I'll think more about it.

[2016-11-28 13:46] SachaG commented on #210
It looks like https://github.com/styled-components/styled-components is doing a lot of things right and it was made with theming in mind.

[2016-11-28 19:00] AshworthHub commented on #362
But wouldn't the unfied payload be the same regardless where the mouse enters the chart?  The log above was using the exact same chart; however, the X/Y changed based on if I hovered **from** the top,left,etc of the chart.

[2016-11-28 20:18] FXStrato opened #370 "Treemap label enhancements"
Is there a simplified way of adding labels and colors to a treemap? The example one seems overly complicated compared to say a pie chart's method of adding labels and colors. Would it be possible to refactor the Treemap so that it can also show labels and colors using the same code style as PieChart?

[2016-11-28 23:19] gartz opened #371 "Isomorphic rendering crashes when document is available in the backend."
We have `document` available in the backend, th `isSrv` check for that and them renders and give a bad checksum because of the animations probably.

Ex:
[code]

Would be nice if we could pass a prop or context to tell it's being rendered by the server. That way anyone can patch the way they want to tell that is a server rendering.

This is with animations disabled, I'm using pie chart.

[2016-11-29 06:33] xile611 commented on #362
Yeah, the `activePayload` is the `entry` that your mouse in. So I can't get what's the problem ?

[2016-11-29 06:53] xile611 commented on #154
@Eric24 Since version 0.16.0. So can you raise an online demo ?

[2016-11-29 07:33] xile611 commented on #371
@gartz `isSsr` is called at many places. It's strange to initialize this function. Any suggestion for safe `isSsr` ?

[2016-11-29 07:47] xile611 commented on #368
@Eric24 Maybe we can export `DefaultTooltipContent` and `DefaultLegendContent`, then you can do the filter yourself, and use `DefaultTooltipContent` and `DefaultLegendContent` to render tooltip and legend.

[2016-11-29 08:06] vaeum opened #372 "StackedBarChart with stackOffset='expand'"
See example, please
http://jsfiddle.net/vaeum/7begLcrb/

[2016-11-29 10:42] goums opened #373 "Warning on install: npm WARN install:canvas@1.6.2"
Hi,

I'm getting the following error and warning on npm install:

[code]

I'm using versions:
[code]

[2016-11-29 13:56] peterwillis opened #374 "Add babel-plugin-lodash for additional output size reduction"
I added babel-plugin-lodash along with babel-plugin-recharts to the webpack config, and it reduced the size of the output. I thought this might be a useful tip to others.

Thanks for a great library 👍

[2016-11-29 13:59] goums commented on #373
Sorry, this seemed to be caused by another module.

[2016-11-29 13:59] #373 closed

[2016-11-29 14:41] Eric24 commented on #368
Sounds interesting; it would be more flexible overall, but I still think a simple boolean include/omit prop on the child component itself would be useful as well.

[2016-11-29 14:44] Eric24 opened #375 "Animation Options"
The current animation options are true and false, and when true, the entire chart is redrawn from scratch on every data update. This is fine for static data that is set once or possibly updated by user action, but it's not useful for real-time data where updates are coming in periodically. The "solution" for now is to disable animation. But I'd like to suggest a third animation option: morph. In t

[2016-11-29 16:58] gartz commented on #371
detect the environment is not a responsibility of recharts, any implementation you do will fail over time with different environments contexts.

This is a good use-case for React Context:

[code]

In your component you can get using:
[code]

Let the developer implement their logic to detect the server side.

If you want to launch a version that deprecates your isSsrv implementation without breakin

[2016-11-29 17:20] Eric24 commented on #154
Ah so. Yes, it turns out we were running 0.15.3. After upgrading 0.19.0, it now works as expected.

[2016-11-30 00:48] matthewberkompas opened #376 "Add animation to Bars on BarChart"
@xile611 I have a bar chart and I want each bar to grow bigger when someone hovers their mouse over it. Is there any easy way to do this currently with CSS or JS that I missed? I wasn't able to find anything after looking through the issues and docs.

[2016-11-30 01:59] xile611 commented on #368
@Eric24 Any suggestion for the props name ?

[2016-11-30 02:02] xile611 commented on #373
OK

[2016-11-30 02:14] xile611 commented on #374
@peterwillis Thanks! We'll add more information in README.

[2016-11-30 02:14] #374 closed

[2016-11-30 02:28] xile611 commented on #375
@Eric24 Yeah, we're refactoring animation.

[2016-11-30 03:01] Eric24 commented on #368
Two possible thoughts:

1) Use the existing 'legendType' prop, and omit the data component from both tooltip and legend if it is set to false.

2) Add a new prop called 'legendMode', with options:
true (default) - Include in both tooltip and legend
false - Omit from both tooltip and legend
'tooltip' - Include in tooltip only
'legend' - Include in legend only

Option 1 is probably simpler (and work

[2016-11-30 03:27] bmamouri opened #377 "TypeError: text.getComputedTextLength is not a function"
When using XAxis and YAxis component I get the following error:

[code]

I am using the simple example from the [docs](http://recharts.org/examples#SimpleLineChart), the recharts version is 0.19.0 and I am rendering it on the server.

[2016-11-30 06:28] xile611 commented on #377
@bmamouri Are you using recharts in server-side-render ?

[2016-11-30 06:30] bmamouri commented on #377
@xile611: Yes, I forgot to mention that! Maybe I should just render the components that are dependent on getComputedTextLength only on the client side. Although that will cause the mismatch of rendered HTML on the server and client.

[2016-11-30 06:57] xile611 commented on #377
@bmamouri How about the version of recharts ?

[2016-11-30 07:44] bmamouri commented on #377
@xile611: Updated the issue. My version is 0.19.0

[2016-11-30 11:30] xile611 commented on #372
Yeah, some bug happens when calculate the height of `Legend`.

[2016-11-30 13:07] xile611 commented on #376
@matthewberkompas For simple style change, you can use css. But for transform, you can use customized events like [this demo](http://jsfiddle.net/fwh9Lmg3/).

[2016-11-30 13:13] xile611 commented on #363
@earthinferno Yeah, of course. But no good solution now.

[2016-11-30 14:56] patryk0605 opened #378 "onClick for Axes"
Referencing the following example:

[code]

Does  `onClick` work for `XAxis` and `YAxis`? When `onClick` is set on `ComposedChart`, it triggers when `Bar` is clicked and I am able to obtain the values from element returned, but none of the other components under `ComposedChart` seem to trigger the handler. I put the `onClick` event on `YAxis` and that does cause the handler to trigger, however `YA

[2016-11-30 16:32] vyachekg opened #379 "Warnings when data is aray of arays"
Simple example with a **Scatter**
[code]

Where **test** is array of arrays
const test = [[0, 0], [1, 1], [2, 2]];

It works, but I get Warnings

and

As it works with array of arrays properly  it would be good if in TypeProps will be both array and object

[2016-11-30 16:40] matthewberkompas commented on #376
Awesome! That's exactly what I'm looking for. Thanks for taking the time to do this @xile611.

[2016-11-30 16:52] matthewberkompas commented on #376
@xile611 Just to clarify, this will work or a stacked bar chart too, right?

[2016-11-30 21:44] matthewberkompas commented on #376
One more question: is there a way to change the _color_ of a bar when you hover over it @xile611?

[2016-12-01 09:20] xile611 commented on #376
@matthewberkompas  You only need to add some css like the following:

[code]
[demo](http://jsfiddle.net/fwh9Lmg3/16/)

[2016-12-01 12:02] xile611 commented on #379
@vyachekg Thanks! I'll fix it.

[2016-12-01 12:03] xile611 commented on #378
@patryk0605 Events  are not supported in `XAxis` and `YAxis`. It'll be done in next version.

[2016-12-01 14:24] patryk0605 commented on #378
@xile611 Super! Thanks for the continued great support.

[2016-12-01 19:14] matthewberkompas commented on #376
@xile611 I have a _stacked_ bar chart so I'm looking to make the _whole_ bar change color when I hover over one part of it and not just that single part of the bar like it does [in this example](http://jsfiddle.net/matthewberkompas/wa87o60f/). Is that possible?

[2016-12-02 07:30] ashutoshjha1409 opened #380 "Custom tooltip on hover of each cell in StackedBar chart"
Hi
Is there a way to add a custom tooltip on hover of each cell in StackedBar chart?
Using the code below we can hover over each stacked bar but not on each cell
`<Bar dataKey='uv' onClick={this.handleClick}>
            {
              data.map((entry, index) => (
                <Cell cursor="pointer" fill={index === activeIndex ? '#82ca9d' : '#8884d8' } key={`cell-${index}`}/>
              ))

[2016-12-02 08:17] xile611 commented on #376
@matthewberkompas In such case, you should use customized events, It can't be done only by css.
In your demo, you only need to add `fill` in `Rectangle`.

[code]

[demo](http://jsfiddle.net/wa87o60f/2/)

[2016-12-02 08:19] xile611 commented on #380
@ashutoshjha1409   Do you mean different event for each `Rectangle` in the `Bar` ?

[2016-12-02 08:21] ashutoshjha1409 commented on #380
yes

[2016-12-02 08:27] ashutoshjha1409 commented on #380
We can do something like this

`
<Bar dataKey='uv' }> { data.map((entry, index) => ( <Cell cursor="pointer" onClick={this.handleClick.bind(this, entry, 'uv')/> )) } </Bar>`

//console
Object {name: "Page A", uv: 4000, pv: 2400, amt: 2400} "pv"

once we have the cell object and datakey, we can easily map. This could be one solution. Any other suggestion, do let us know. Thanks

[2016-12-02 08:33] xile611 commented on #377
@bmamouri  It seems `isSSR` return `false` in SSR.

[2016-12-02 08:34] xile611 commented on #380
@ashutoshjha1409 When you bind click event on `Bar`, you can get the payload of each `Rectangle` when you click it. It means that the event of `Bar` is  actually binded in each `Rectangle` of `Bar`.

Please check [this demo](http://recharts.org/examples#BarChartWithCustomizedEvent).

[2016-12-02 08:38] jlubeck opened #381 "Do you think it's possible to do an animated donut chart like this with recharts?"
http://jsbin.com/ukaxod/144/embed?js,output

Please excuse me if this is not the place to do this kind of question. Let me know and I'll delete it.
Thanks

[2016-12-02 08:41] ashutoshjha1409 commented on #380
@xile611 Thanks a lot

[2016-12-02 09:32] xile611 commented on #381
@jlubeck This kind of pie animation can be done by customized `shape` of `Pie`. Here is a [demo](http://jsfiddle.net/fvcc6m14/).

[2016-12-02 09:35] xile611 commented on #380
Ok!

[2016-12-02 09:35] #380 closed

[2016-12-02 10:05] xile611 commented on #367
@Eric24

You can specify the `scale` of `XAxis` to be `point`( the default scale is `band` )  which'll use scalePoint of [d3-scale](https://github.com/d3/d3-scale).

[code]

Then the margin will be eliminated.

[2016-12-02 10:05] #367 closed

[2016-12-02 11:40] matheusml opened #382 "How to set a MAX_VALUE to RadarCharts"
I have a very simple RadarChart:

[code]

My score field, can only be between 0 to 100.
I want to make the RadarChart to be fixed at a max value of 100, something like: ```<RadarChart maxValue="100">```.

Is there a way to do it?

[2016-12-02 11:47] matheusml commented on #382
Found a way using [PolarRadiusAxis](http://recharts.org/api#PolarRadiusAxis)

[2016-12-02 11:47] #382 closed

[2016-12-02 17:13] matthewberkompas commented on #376
@xile611 This answers my questions. Thanks a ton for your help here!

[2016-12-02 17:13] #376 closed

[2016-12-02 19:43] tarrencev opened #383 "Accepting function instead of dataKey"
It would be great if it were possible to pass a function that evaluates to a data points value instead of passing a `dataKey`

i.e.

[code]

could be equivalent to

[code]

That would allow Recharts to make less assumptions about the passed `data`s format and would enable more use cases like computing values

[2016-12-02 23:23] Eric24 commented on #367
Well, yes, "point" works as described, but: a) It only works if the axis type=category (my use-case is type=number); and b) with scale=point (and type=category), the "bars" in my composed chart are not rendered at all.

[2016-12-03 00:50] matthewberkompas opened #385 "Centering Bar Labels"
I have a stacked bar chart and I would like to center the bar labels on each bar. However, it doesn't look like you guys are using CSS to do this so I'm unsure how to go about it. Is it _possible_ to do this and if so, would someone be willing to show me an example? I would really appreciate it!

[2016-12-03 09:42] manuviswam commented on #154
Wow. Tested it and it works great. Thanks a lot.

[2016-12-03 13:12] ilanus opened #386 "Using custom label with <Bar /> generates the label twice into the DOM"
I've made a custom label for the bar chart, I ended up with the following result:

![pasted image at 2016_12_03 02_09 pm](https://cloud.githubusercontent.com/assets/9677898/20859538/2e60270a-b962-11e6-9380-85439069cc91.png)

The label is displayed at the top of the bar and at the bottom:

![pasted image at 2016_12_03 02_06 pm](https://cloud.githubusercontent.com/assets/9677898/20859548/41105f14-b9

[2016-12-03 15:59] VanDavv opened #387 "Error when passing new data to LineChart"
When I try to update data for LineChart, i get the following errors
![image](https://cloud.githubusercontent.com/assets/5244214/20860445/c0a4ab34-b978-11e6-8a2a-f868d281d579.png)

**When the error occurs**
Full data for the chart was loaded, and the chart with two lines has rendered. Then user changes desired variables and when new data for the chart is passed (via props, the component is rerender

[2016-12-04 00:09] jlubeck commented on #381
That demo was awesome! Works like a charm. Thanks!

[2016-12-04 00:09] #381 closed

[2016-12-05 07:39] xile611 commented on #387
@VanDavv How about the version of recharts ? Live example or a simple project is required to reproduce your problem.

[2016-12-05 07:47] xile611 commented on #386
@ilanus Can you create a simple online example ? It seems you have added two `Bar`, so two groups of labels are rendered.

[2016-12-05 08:07] xile611 commented on #367
@Eric24

About question a:
  When the `XAxis` of `ComposedChart` is numerical axis, the scale of `XAxis` is linear scale, no extra space for *bars* will produce.

About question b:
 What kind of `bars` are not rendered? I create a [demo](http://jsfiddle.net/z3wx6zm3/), it works fine even when I have `Bar` in the composed chart.

So would you please create an online demo?

[2016-12-05 08:57] xile611 commented on #385
@matthewberkompas  Now you can center the labels of `Bar` like this [demo](http://jsfiddle.net/wa87o60f/3/).
But the callback parameters of `label` seems strange now,  the `width` and `height` are width and height of `rectangle` in `Bar`, the `x` and `y` is the coordinate of `label` .

[2016-12-05 09:26] xile611 commented on #267
@Eric24 Yeah, error bars and Candlestick chart are very similar.

[2016-12-05 09:56] xile611 commented on #383
@tarrencev Thanks! We'll think about this feature.

[2016-12-05 16:18] vaeum opened #388 "Show tooltip on hover"
How make it?

https://s.mail.ru/37sz/fwFzs6Lrx

I try

[code]

[2016-12-05 18:25] matthewberkompas commented on #385
Sweet! Thanks again @xile611. This is a huge help.

[2016-12-05 18:25] #385 closed

[2016-12-06 04:07] matreyes commented on #302
+1, I have the same problem, and couldn't solve it with z-index. Any idea?

[2016-12-06 11:33] xile611 commented on #388
@vaeum You can bind `onMouseEnter` to `Bar` like this [demo](http://jsfiddle.net/5dtmswmc/).

[2016-12-06 11:51] vaeum commented on #388
@xile611 thanks you, but a found some errors

I fork solution
http://jsfiddle.net/vaeum/q1reejg1/

error, tooltip is under bars
http://take.ms/dWLmZ

[2016-12-07 00:08] mattpage commented on #377
This fails for me in my enzyme tests. The reason it fails is that the isSsr export is testing for existence of 'document' like so:
[code]

My tests use jsdom:
[code]
and so, of course, getComputedTextLength is called and it blows up.

If I modify isSsr to this:
[code]
it works.

[2016-12-07 03:36] ShortandSweet commented on #387
Similar here:
[code]

Here's what is rendered:
[code]
The dashed line (strokeDasharray) is drawn correctly 1 time on 2 when the data is modified (setState...). Otherwise, a full line replace it.

**To solve the issue for now:**
I avoid using strokeDasharray in <Line...> parameters or I add isAnimationActive={false} to it.

I'm a beginner at web development. But I believe the issue has something to

[2016-12-07 08:32] VanDavv commented on #387
@ShortandSweet Yes, this was the cause of my error. Rerencering a linechart with StrokeDasharray causes chart to crash. Removing it solved this issue

[2016-12-07 15:33] ShortandSweet commented on #387
Live example :
[http://jsfiddle.net/x1yoboc7/249/](http://jsfiddle.net/x1yoboc7/249/)

When New data is press, the dashed line is redraw as a full line.

[2016-12-07 16:15] Eric24 commented on #309
This might be useful: https://bl.ocks.org/mbostock/aff9e559c5c9968b7ac6

[2016-12-07 17:06] codinronan commented on #186
@billneff79 I'd jump at that. Looking forward to the day.

[2016-12-07 18:17] ZephD commented on #184
I don't see how #160 is a solution to this issue, and therefore am confused as to why this issue was closed.
The current axis label positioning is very unusual.

It would be good to have the common situation:
Y-axis label vertical and to the left of the y-axis (rather than at the top of the axis)
X-axis label horizontal and under the x-axis (rather than at the far right)
Legend to be vertical and

[2016-12-08 00:08] matthewberkompas commented on #302
@matreyes: After doing some research, I was able to fix this problem using the recharts `wrapperStyle` prop on the `Tooltip` component:
[code]

You probably don't need to set the `zIndex` that high. I did it just to make absolutely certain that nothing else would overlap it. I hope that helps.

[2016-12-08 04:19] BOZ88 commented on #316
like @supersteves 's chart, usually used for confidence interval demonstration.
Just wondering if there is a way that we write our own widget like RangeArea that can integrated into AeaChart.

[2016-12-08 06:28] supersteves commented on #316
@BOZ88 Some ideas - we were able to customise a *ScatterChart* by passing a custom renderer to the Scatter "line" prop, which augmented the existing props with additional points. This is quite a lot of work when out-of-the-box is so close to being able to do this.

We've also experimented with using (hacking) a ReferenceDot or other similar component - also within Scatter - which happens to expose

[2016-12-08 11:39] ZephD opened #390 "Display (tooltip's) cursor via prop"
Hi,

Suppose I additionally have a table of the graphed XY data and an 'onHover' function which gets the X value of the table row.

Is there a way to pass this X value to a Rechart for it to display the cursor (similar to the one for the tooltip) at that given value?

Thanks

[2016-12-08 12:01] matreyes commented on #302
Thanks!!!

[2016-12-08 23:24] matthewberkompas opened #391 "Remove bar labels when bar is too small"
I have a stacked bar chart and I'm dealing with an issue where the bar labels are being cut off when the bars are really short:
<img width="295" alt="screen shot 2016-12-08 at 3 19 07 pm" src="https://cloud.githubusercontent.com/assets/7084294/21031740/eca113aa-bd59-11e6-882c-8c508ed92fb0.png">

Is there a way to make the labels disappear when the bar is a certain size or when there is only a cert

[2016-12-09 06:25] xile611 commented on #391
@matthewberkompas You can return null when the width of bar is smaller than a specified number.

[2016-12-09 16:42] ZephD commented on #184
custom label with these values sort of works...

`const AxisLabel = ({ axisType, x, y, width, height, children }) => {
  const isVert = axisType === 'yAxis';
  const rot = isVert ? -90 : 0;
  const cx = isVert ? -height / 2 : x + (width / 2);
  const cy = isVert ? y : y + (height / 2) + 14;
  return (
    <text x={cx} y={cy} transform={`rotate(${rot})`} textAnchor="middle">
      {children}
    </

[2016-12-09 18:13] matthewberkompas commented on #391
@xile611 Like this?
[code]

[2016-12-12 11:35] southnan0 opened #393 "Object #<Object> has no method 'sign'"
When I use CartesianGrid or XAxis on android 4.4.2 or other lower version , show the error  Object #<Object> has no method 'sign' . But  android 6.0+ is ok.

[2016-12-12 14:19] vaeum commented on #364
Hello, add this css code in your project

[code]

[2016-12-12 17:00] batjko opened #394 "Margins between X-Axis, brush and legend"
Hi there,

We are trying to get the labels on a simple time series line chart to be centered left of and below the axes (apparently industry conventions).

Unfortunately, we are unable to move the brush and legend down, to make space for the label, resulting in this squishy situation:

![selection_039](https://cloud.githubusercontent.com/assets/7287076/21108159/1668821a-c08c-11e6-93be-e4f1b6dde266

[2016-12-12 17:05] akvanhar commented on #364
Thanks. I was doing complicated things with ie-11 browser selection. I prefer this browser agnostic solution.

[2016-12-13 00:09] dcousens commented on #368
+1,  recently had this when showing basic error margins around a line,  of similar colour.
Not sure how to remove these margins from the legend.

[2016-12-13 06:23] xile611 commented on #393
@southnan0 How about the version of recharts ? And do you use `babel-plugin-recharts` ?

[2016-12-13 06:41] xile611 commented on #390
@ZephD It's recommended to add a `ReferenceLine` like this [demo](http://jsfiddle.net/b1Lb3kuk/).

[2016-12-13 06:50] xile611 commented on #394
@batjko You can change the value of  `XAxis`'s props `height` which have default value 30.

[2016-12-13 06:50] #394 closed

[2016-12-13 06:52] xile611 commented on #391
@matthewberkompas Yeah! Just like your demo.

[2016-12-13 08:09] southnan0 commented on #393
0.19.0  ,and I use babel-plugin-recharts, also  call this error

[2016-12-13 08:34] vaeum commented on #393
Hello i use polyfill-service, and my snippet in app entry.

https://www.npmjs.com/package/polyfill-service

[code]

[2016-12-13 08:39] xile611 commented on #393
@southnan0 I think the version of `babel-plugin-recharts` is out of date.  You should update the version of `babel-plugin-recharts` to `1.1.0`.

[2016-12-13 08:41] xile611 commented on #393
@vaeum Recharts have imported polyfills too.  [polyfill](https://github.com/recharts/recharts/blob/master/src/index.js#L1)

[2016-12-13 08:57] batjko commented on #394
@xile611 Ah thanks. Works well for the space around the x-axis.
Since the legend appears to be outside the svg, I'll try handling that one directly with css.

[2016-12-13 09:28] gunosk129 opened #395 "Move x-axis label to reference line"
Is there a way to move label at x-axis to value ?
Like in the picture I would like to move the number to the reference line.
![screen shot 2559-12-13 at 16 22 28](https://cloud.githubusercontent.com/assets/13390655/21134557/046b9384-c151-11e6-8852-a42fec712ea9.png)

[2016-12-13 10:03] #395 closed

[2016-12-13 10:53] southnan0 commented on #393
It's already the latest version.   I use the android 4.4.2 open demo the club's official website, also can't open the chart. Android 6.0 can open.  You have tried using android machine?

[2016-12-13 17:17] matthewberkompas commented on #391
Thanks @xile611!

[2016-12-13 17:17] #391 closed

[2016-12-13 17:20] ZephD commented on #390
This works well.
However, it does clash with the tooltip when using the prop "isFront".

Thank you very much.

[2016-12-14 11:16] xile611 commented on #393
@southnan0  No. Because recharts works well in IE10, IE11, and we have imported necessary polyfills.

[2016-12-14 16:08] ZephD commented on #390
@xile611

Two things:
 - The RefLine interrupts the tooltip selection - you either get one or the other
 - Every new render of the RefLine seems to toggle the line's state, so it shows, hides, shows, hides...

Any idea why these occurs?

[2016-12-14 20:34] matheusml opened #397 "Some XAxis not showing"
I have a simple BarChart, with a XAxis. In some cases, some of the labels are simply not showing up. In the image below, only the middle label is appearing.

![http://i.imgur.com/MRFaXJP.png](http://i.imgur.com/MRFaXJP.png)

Here's the code:

[code]

and

[code]

[2016-12-14 23:18] RoarkeRandall opened #398 "Using stackId prop breaks charts with only 1 Bar"
Using the StackedBarChart http://jsfiddle.net/kca9npkg/6/?utm_source=website&utm_medium=embed&utm_campaign=kca9npkg

Try removing one of the bars in the stack and keeping `stackId={'a'}` and it will not render.

Not a huge issue, but it's nice to be able to use the stackId prop whether or not you have multiple series.

[2016-12-15 02:39] McMenemy commented on #267
Just submitted a PR to add error bars    https://github.com/recharts/recharts/pull/399

[2016-12-15 02:48] xile611 commented on #398
@RoarkeRandall Thanks! It should be fixed.

[2016-12-15 02:52] xile611 commented on #397
@matheusml By default, we'll hide some ticks of `XAxis` when no enough space.

[related code](https://github.com/recharts/recharts/blob/master/src/cartesian/CartesianAxis.js#L74)

If you want to show all the ticks, you can set the props `interval` of `XAxis` to be `0`.

[2016-12-15 03:37] #346 closed

[2016-12-15 03:37] #377 closed

[2016-12-15 03:37] #379 closed

[2016-12-15 03:37] #387 closed

[2016-12-15 03:37] #398 closed

[2016-12-15 03:40] xile611 commented on #347
@Moeface In your case, you can pass `href` of button and `url` of image in the `data`, and add a customized `tick` of `XAxis` which can get the original data to display what you need.

[2016-12-15 03:40] #347 closed

[2016-12-15 03:45] #246 closed

[2016-12-15 03:50] xile611 commented on #390
@ZephD It works well in my broswer.

![refline](https://cloud.githubusercontent.com/assets/6111424/21211210/9ac465ec-c2bc-11e6-91f5-5e39f1d44a42.gif)

[2016-12-15 08:42] xile611 commented on #267
I have two kinds of thoughts about ErrorBar and candlestick chart now.

Add a new component ErrorBar, and it should be the child of Line, Area, Scatter, Bar, etc.So we can add error bars like the following:
  <Line dataKey="pv">
    <ErrorBar dataKey="pvError"  />
  </Line>

  <Scatter data={[...]}>
    <ErrorBar dataKey="pvError"  />
  </Scatter>
2.The new component ErrorBar should be the child o

[2016-12-15 10:04] jzillmann commented on #267
Hey @xile611 ,

so my use case is:
- have horizontal bars
- for each bar i wanna indicate an error / confidence interval

So for example if the score for a bar is 130, the confidence interval could be from 110 to 135 e.g.!

[2016-12-15 10:26] ZephD commented on #390
I think mine is a special case.

On mouse over the graph, update a redux store of the selected X value.
This is then mapped from state to props, which renders the RefLine.
(It also updates another graph/map, hence the reason for it).

What I think is happening is the first time you mouse-over a value, the tooltip is rendered as expected.
However, it triggers a redux store update, which updates the

[2016-12-15 12:15] matheusml commented on #397
Hmm, I think that will do.
Thanks!

[2016-12-15 12:15] #397 closed

[2016-12-15 17:42] McMenemy commented on #267
@jzillmann @xile611 I definitly think the interval is a good idea and will add that to the PR.

Also, I like option one of your two ideas.

[2016-12-15 21:35] Eric24 commented on #267
@xile611--
I'm not sure I have a strong preference to either option, but I lean toward the first one because I think it will be more clear that the error bars belong to a particular series, especially when the series themselves have their own data prop (like ScatterChart). But having said that, can ScatterChart (and other data-series child components) really have useful error bars? If not, then th

[2016-12-16 02:05] McMenemy commented on #267
@Eric24 @xile611 @jzillmann

I just updated the PR so it uses the first option API and allows for both high and low offsets.

`const data = { name: 'Page A', uv: 1000, pv: 2400, amt: 2400, uvError: [75, 20] }, ... ]`

[code]

![screen shot 2016-12-15 at 5 39 08 pm](https://cloud.githubusercontent.com/assets/9427089/21249031/0b0cab2e-c2f0-11e6-8955-e48e0664bef2.png)

![screen shot 2016-12-14 at 5 5

[2016-12-16 02:31] squll1 opened #400 "Delete pie chart border values ​​or change color"
![Alt text](http://cfile30.uf.tistory.com/image/25685C3558534FA834ECE1)
Is there a way to remove the border value or change the color of the pie chart?
There is no option for the border value when viewing the document.

[2016-12-16 02:47] xile611 commented on #400
@squll1

[code]

Just like svg elements. You can change the color of `Pie` by changing the `fill` of `Pie` or `Cell`.

[demo](http://recharts.org/examples#PieChartWithCustomizedLabel)

[2016-12-16 03:00] xile611 commented on #390
@ZephD Every time you update the wrapper component of `LineChart`, the children instances of `LineChart` will change. Maybe this's the reason for your case. But in your first description, you mean to click another `table` to interact width `LineChart`, so I don't know why the `tooltip` will hide and show.

[2016-12-16 03:30] Eric24 commented on #267
@McMenemy--Very nice! I personally like the solution of allowing a single value for symmetric errors and an array for asymmetric errors. It's clean and requires no other attributes to "configure" it.

But shouldn't "error bars" on a scatter plot really be a rectangle around the point? After all, it technically has two dimensions of error.

I'm not sure what options you have for formatting the bars

[2016-12-16 09:54] thoqbk commented on #204
I have modified file `chart/generateCategoricalChart.js` to support touch event. Visit my fork at https://github.com/thoqbk/recharts

[2016-12-16 16:47] Eric24 commented on #267
PS to @xile611 - The idea of using an array as data point could be useful for things like #316, where if supplied for an area plot, the array would be interpreted as the low and high value for the area. This enhancement would allow the kind of "error range" display originally shown in #316 (and one that I'm also personally interested in), by simply specifying both a line and area (with [low, high]

[2016-12-17 03:12] McMenemy commented on #267
@Eric24 Thanks for the feedback!

Good point scatter plots should definitly have the option for two error bar directions. I also left the option for their just to be one direction for situations like IQ and number of siblings where there might be an error in one direction.

Both a rectangle and just vertical line are possible with the current width and stroke width options.

I added opacity.

I di

[2016-12-17 05:13] Eric24 commented on #267
@McMenemy -- Nice work.

[2016-12-17 08:55] southnan0 commented on #393
I solved it for import core-js/es6/math.
Because I use  `import XAxis from "recharts/lib/cartesian/XAxis"`    instead of   `import {XAxis} from "recharts"`.
 Thank you for your patiently.

[2016-12-19 02:15] xile611 commented on #393
@southnan0 OK! You can use `babel-plugin-recharts` too.

[2016-12-19 02:15] #393 closed

[2016-12-19 03:43] xile611 commented on #204
@thoqbk Do you want to submit a PR ?

[2016-12-19 06:09] #400 closed

[2016-12-19 06:14] xile611 commented on #388
@vaeum If you have two or more `Bar`, It's recommended to use customized `Tooltip`. If You just have one `Bar`, customized `label` can meet your needs.

[2016-12-19 11:52] ZephD commented on #390
http://jsfiddle.net/b1Lb3kuk/3/

Try that.

You'll see a comment saying "replace this with null". Do that, and the problem is 100% of the time, rather than only the first mouse over (tricky to do, move from one section to the next a pixel at a time).

[2016-12-19 11:55] ZephD opened #401 "Chart re-render does not respect Brush bounds"
Changing the brush bounds causes a render, which respects the bounds provided by the brush and therefore updates the graph to display the data within the brush bounds.

However, if something _else_ causes an update, the bounds are not respected, and the full graph is rendered, despite the brush bounds being set.

[2016-12-19 12:34] thoqbk commented on #204
I just created a pull request. Can you have a look?
https://github.com/recharts/recharts/pull/402

[2016-12-19 23:12] matthewberkompas opened #403 "Set the maximum height of bar"
@xile611 Is there a way to set the maximum height of a bar? I'm trying to make the bar labels show up on the chart but I run into problems when only one bar is showing (e.g. when there isn't any data for the other bars). In this case, that bar goes all the way to the top and the label gets hidden ([see demo](http://jsfiddle.net/matthewberkompas/n5re8vcq/5/)). Even if the label didn't get hidden, I

[2016-12-20 02:17] #267 closed

[2016-12-20 02:25] xile611 commented on #403
@matthewberkompas It's a workaround to set the `domain` of `YAxis` like the following:

[code]

You can also check the api of [`domain`](http://recharts.org/api#YAxis) and [demo](http://jsfiddle.net/3gdz149g/).

Meanwhile I'll try to optimize this case. Thoughts and suggestions are welcome.

[2016-12-20 03:19] xile611 commented on #390
@ZephD Why set `curSelected` to be `null` ?

[2016-12-20 03:29] xile611 commented on #401
@ZephD Yeah, the brush will be updated to default props when chart receives a new props.

[2016-12-20 03:30] xile611 commented on #401
Can you create a demo about your case ?

[2016-12-20 06:40] vaeum opened #404 "ResponsiveContainer Bug"
Hello, if i use ResponsiveContainer and BarChart, and render many bars, bars not visible.

Check this demo
http://jsfiddle.net/vaeum/7z05b3yj/

Try delete ResponsiveContainer and re run demo.

[2016-12-20 11:24] ZephD commented on #390
To see the problem 100% of the time, ie the tool tip will never display.

And that's the thing. A second render occurs which resets the tooltip to not shown. Similar problem to #401.

[2016-12-20 11:27] ZephD commented on #401
Try http://jsfiddle.net/b1Lb3kuk/10/

Set the brush to be zoomed in
then hover over an item in the table
The view is re-rendered fully zoomed out, as the brush bounds are ignored.

[2016-12-20 11:53] konstantin24121 commented on #404
@vaeum try to set width: 100% for ResponsiveContainer, and remove width and heigth for BarChart.
ResponsiveContainer set width and heigth to his children.
http://jsfiddle.net/ywy068f2/

[2016-12-20 13:12] xile611 commented on #390
@ZephD Every time we update the state, the reference of children changes. So I'll refactor the comparison of children in [generateCategoricalChart.js#L93](https://github.com/recharts/recharts/blob/master/src/chart/generateCategoricalChart.js#L93). This's also the reason of #401 .

It's recommended to not bind `onMouseMove` in `LineChart` to update `ReferenceLine`, this action is conflict with tool

[2016-12-20 13:42] ZephD commented on #390
I understand your recommendation fully! I'm trying to link a map of locations with a graph of time-based data. The link between the data is the timestamp, or the X-value of the graph.
Unfortunately, I would like mouse over on a **map** or the **graph** to update a single state value, and that value is mapped as props which updates the map and graph with a **marker** and **RefLine**.

[2016-12-20 16:41] konstantin24121 opened #405 "Tooltip performance"
Tooltip consume too much CPU load if the cursor is moved very fast. HandleMouseMove method of generateCategoricalChart reacts to mouseMove event. Handler on every tick changed state and it causes a wave of rerender. It doesn't behave the same way if you move cursor over a plot. Otherwise a lot of CPU load is allocated wich is critical fir low end devices. What do you think about adding a throttleD

[2016-12-20 17:21] matthewberkompas commented on #403
@xile611 This workaround should fix the issue for now, thanks! In future, it would be nice if the max bar height could be set by a `maxBarHeight` prop or something similar to that.

[2016-12-20 17:21] #403 closed

[2016-12-21 03:01] xile611 commented on #405
@konstantin24121 It's a good suggestion to add throttle delay.  Maybe you can submit a pr ?

And I have a  thought now. The events to show and update tooltip change the state frequently which will also update other unchanged components, like `Legend`, `XAxis`, etc.  If the state about tooltip events could be managed in `eventCenter` of recharts not in `state`, only tooltip will update when mousemo

[2016-12-21 03:27] xile611 commented on #405
<img width="850" alt="2016-12-21 11 04 20" src="https://cloud.githubusercontent.com/assets/6111424/21376365/4cccda56-c76f-11e6-8da9-1b83326ec53a.png">
<img width="889" alt="2016-12-21 11 04 09" src="https://cloud.githubusercontent.com/assets/6111424/21376366/4ee1d8e6-c76f-11e6-8394-f07c05714914.png">
<img width="1432" alt="2016-12-21 11 03 41" src="https://cloud.githubusercontent.com/assets/611142

[2016-12-21 09:05] konstantin24121 commented on #405
@xile611 this (article)[http://blog.revathskumar.com/2016/02/reactjs-using-debounce-in-react-components.html] has explain

[2016-12-21 14:01] belgac opened #407 "Change Line color depending on value"
Hello,

First of all thank you for this great library!

I was looking for the ability to change the color of a Line in a LineChart depending on the value of the current point (for example a price history chart becomes green when it's cheaper than initial price and red when it's more expensive than initial price)

Is it possible with the actual state of the library ? If not is someone already worki

[2016-12-21 16:14] 10n6 opened #408 "errors in react when trying to dynamically add bars based on data object"
`<ResponsiveContainer>
  <BarChart width={500} height={300} data={ plots } margin={{top: 35, right: 45, left: 45, bottom: 10}}>
  <XAxis dataKey="name" axisLine={false} tickLine={false} />
{keys.map(
(item, i) => {
return ( <Bar stackId="a" dataKey={item} key={i} /> )
})}
</BarChart>
</ResponsiveContainer>`

I am getting errors plotting this sort of setup where keys = an array of string values of

[2016-12-21 17:27] 10n6 commented on #408
It is falling over at line 176 of BarChart.js with sizeList undefined. not sure why though.

[2016-12-21 17:52] loris commented on #383
Would be great, common use-case is to compute the value by adding multiple values together.

[2016-12-22 02:11] xile611 commented on #407
@belgac Do you mean to update the `stroke` of the whole line? or just a part of the line?

[2016-12-22 03:57] xile611 commented on #390
@ZephD I understand your demands now. You can wait for updating of recharts, I have done some optimization.  And a workaround is to add two state, one state to show `ReferenceLine` when hover the map and another state to show `marker` when hover the chart.

[2016-12-22 05:26] #405 closed

[2016-12-22 07:22] belgac commented on #407
Just from a part of the line depending on the value. Something similar to applying a radial two color gradiant to the stroke (see the first part of http://www.d3noob.org/2013/01/applying-colour-gradient-to-graph-line.html?m=1)

[2016-12-22 08:33] xile611 commented on #408
@10n6 How about the version of recharts ?

[2016-12-22 08:35] xile611 commented on #407
@belgac Recharts support linear gradient too, maybe you can try create a linear gradient dynamically and use the gradient to stroke the `Line`.

[Here](http://recharts.org/api) is a demo of linear gradient.

[2016-12-22 09:12] 10n6 commented on #408
Sorry my bad. version 0.14.2

[2016-12-22 09:51] xile611 commented on #408
@10n6 The latest version is 0.19.1.

[2016-12-22 09:52] 10n6 commented on #408
Fixed by removing the XAxis. Something in there seemed to be throwing it off and causing a null and breaking the chart.

[2016-12-22 11:29] belgac commented on #407
Thank you a lot!

It works: [demo](http://jsfiddle.net/rntqd24h/)!

You can close this issue, thank you again

[2016-12-22 11:44] ZephD commented on #390
Oh exciting :)
Good stuff :D

[2016-12-23 08:55] xile611 commented on #407
@belgac  OK! Thanks for your demo! I'll add it to recharts.org.

[2016-12-23 08:55] #407 closed

[2016-12-23 08:56] xile611 commented on #408
@10n6 Can you create a demo in jsfiddle ?

[2016-12-23 09:19] 10n6 commented on #408
I got it all working fine after upgrading to the latest version and running an update in npm. Also removed the XAxis with the params and started again. hey presto all worked. Not sure if it was just a perfect storm of things that combined as I can't replicate it now. Thanks for your help though.

[2016-12-23 09:19] #408 closed

[2016-12-23 13:05] raviteja83 opened #409 "Brush not working on mobile devices and tablets"
The brush component works well on desktops but it does not work on mobile devices.It is rendered the handle cannot be moved.

[2016-12-23 15:04] loris commented on #233
+1 for adding the props at the chart (parent) level

[2016-12-25 10:06] kaatt opened #410 "Flat area charts like Google Analytics"
Is there any option to make the area charts more like Google Analytics? Flat lines instead of smooth?

More like:
<img width="356" alt="a" src="https://cloud.githubusercontent.com/assets/10688522/21470638/a3b9a9ca-cab7-11e6-9855-6b0d19365b7c.png">

Instead of:
<img width="534" alt="" src="https://cloud.githubusercontent.com/assets/10688522/21470643/b641b51a-cab7-11e6-9b61-ed9fa7c342aa.png">

If no

[2016-12-26 10:56] smitreverie opened #411 "Invert X and Y axis"
I could not find any example of inverted bar chart in the documentation.
Basically I want horizontal bars because my x-axis datakeys are more in number and the chart becomes to wide. Is it possible to customise like this?

[2016-12-26 11:13] smitreverie commented on #411
Documentation should mention that type props are required when using vertical layout. I used the following code and it worked.

<XAxis type="number"/>
<YAxis type="category" dataKey="name"/>

[2016-12-26 11:13] #411 closed

[2016-12-26 12:01] xile611 commented on #411
@smitreverie OK! PR is welcome! You can submit PR is [recharts.org](https://github.com/recharts/recharts.org).

[2016-12-26 13:14] #309 closed

[2016-12-26 13:14] #372 closed

[2016-12-26 13:14] #401 closed

[2016-12-26 13:14] #363 closed

[2016-12-26 13:14] #378 closed

[2016-12-26 13:14] #409 closed

[2016-12-26 13:18] xile611 commented on #410
@kaatt You can set the props `type` to be `linear` which is also the default value of `type`.

[Api for Area](http://recharts.org/api#Area) .

[2016-12-26 13:18] #410 closed

[2016-12-26 13:25] #204 closed

[2016-12-26 13:40] xile611 commented on #364
@akvanhar I think this has been fixed in version 0.20.0. Please check it!

[2016-12-26 13:40] #364 closed

[2016-12-26 18:09] Eric24 commented on #348
This is probably a subset of #375.

[2016-12-27 08:02] huozhi opened #412 "Cannot wrap `Line` with customized component"
I was trying to wrap `<Line />` with my customized component. Like

[code]
but the Line didn't render in the chart. Is there some way to do it correctly ? : )

[2016-12-27 11:07] belgac opened #413 "No payload in activeDot"
Hello,

Is there a way to get the value of the current active dot in a custom active dot component? I receive no payload prop and index is always equal to 0.

Thank you for your help.

[2016-12-27 11:11] kaatt commented on #410
Thanks for the quick reply. I knew it would be in the API and read it earlier but didn't know which option it was.

Is there an option to get the dots always visible and the top border/outline thicker just like Google Analytics?

[2016-12-27 15:53] smmoosavi opened #414 "irregular time series"
How I can draw irregular time series like this:
http://www.highcharts.com/demo/spline-irregular-time

[2016-12-27 17:25] bjmin opened #415 "Uncaught TypeError: Cannot read property 'props' of undefined"
When I am updating view with new props, this ERROR come up.
But I don't know if it was Recharts problem.

here is the detail:

Uncaught TypeError: Cannot read property 'props' of undefined
    at isChildrenEqual (ReactUtils.js:341)
    at CategoricalChartWrapper.componentWillReceiveProps (generateCategoricalChart.js:356)
    at ReactCompositeComponent.js:611
    at measureLifeCyclePerf (ReactCompo

[2016-12-27 21:01] kartboy16 commented on #375
@Eric24 Did you implement any kind of workaround in the meantime?  I turned off animation for now but not a great alternative...

[2016-12-27 22:38] Eric24 commented on #375
@kartboy16 - I just turned off animation. It's not a major issue for us. "Delta" animation would be great, but it doesn't affect the functionality of our application.

[2016-12-28 03:25] xile611 commented on #414
@smmoosavi Don't support now.

[2016-12-28 03:27] xile611 commented on #412
@huozhi `Line` will render svg nodes, you can wrap it with `<Surface>` or `<svg>`.

[2016-12-28 03:31] xile611 commented on #415
@bjmin Thanks! It's bug.

[2016-12-28 04:03] xiaokekeT commented on #363
https://github.com/recharts/recharts/blob/master/src/component/Legend.js#L5

remove this line ?

[2016-12-28 04:53] xile611 commented on #363
Yeah! It should be removed.

[2016-12-28 06:29] xile611 commented on #390
@ZephD Can you check the latest version ?

[2016-12-28 06:57] xile611 commented on #386
I'll reopen it if demo is submited.

[2016-12-28 06:57] #386 closed

[2016-12-28 08:18] tvedtorama commented on #290
If you just want to be able to use `import` instead of `= require(...)` then you can get away with this partial d.ts file:

[code]

You might have to add further classes to the definitions, as they are not complete.  **Note:** There are no arguments, properties, or anything here - it just helps get the import going.

[2016-12-28 11:25] MofeLee opened #418 "iOS8.3: TypeError: undefined is not a function (evaluating 'Math.sign(u[1].coordinate-u[0].coordinate)')"
![image](https://cloud.githubusercontent.com/assets/5069410/21520936/54680848-cd33-11e6-9d5d-d921b69ea1ef.png)

[2016-12-28 12:12] MofeLee commented on #418
Does we need polyfill on recharts internal?

[2016-12-28 12:20] MofeLee commented on #418
We need manually import 'recharts/libs/polyfill'...´😂

[2016-12-28 13:02] xile611 commented on #418
@MofeLee Do you use `babel-plugin-recharts` ? You can use this plugin and import components of recharts like this:

[code]

[2016-12-28 13:03] #418 closed

[2016-12-28 13:05] #388 closed

[2016-12-28 13:16] xile611 commented on #410
@kaatt  Like this [demo](http://jsfiddle.net/n8y3e0ko/) ?

[2016-12-28 13:26] #404 closed

[2016-12-28 13:26] #413 closed

[2016-12-28 13:26] #415 closed

[2016-12-28 23:00] geoffdavis92 opened #420 "ES6 Module Issue/ Add ES6 tutorial"
**Build process:** Webpack via `create-react-app`
**Modules:** ES6
**Issue:** I'm having some issues getting Recharts to work with my ES6 configuration. This is the module import statement ([image](http://image.prntscr.com/image/62981871d2b9400583ad27dd9e8d59b6.png)), and this is the component using Recharts ([image](http://image.prntscr.com/image/c81f0d3b0db54377ba6ceb61010cf3ed.png)). I'm gettin

[2016-12-29 02:49] xile611 commented on #420
[API for LineChart](http://recharts.org/api#LineChart)
[API for ResponsiveContainer](http://recharts.org/api#ResponsiveContainer)

Please check the api of `LineChart`, `LineChart` can't parse percentage `width`.
If you want to use a percentage `width`, please wrapper `LineChart` with `ResponsiveContainer`.

I'll try to enhance the getting started guide. Meanwhile, PR is welcome. You can submit PR

[2016-12-29 02:49] #420 closed

[2016-12-29 23:35] geoffdavis92 commented on #420
Thank you @xile611.

I also noticed that I did not receive any Javascript errors; is this normal? I thought an erroneous value set by a dev should throw an error, which added to my confusion of the actual problem.

[2016-12-31 05:40] xile611 commented on #420
@geoffdavis92 Please check your configuration. You props does not meet he PropTypes of `LineChart`. You should receive the following error message.

Warning: Failed prop type: Invalid prop `width` of type `string` supplied to `AnimationDecorator(ComposedDataDecorator(LineChart))`, expected `number`.
    in AnimationDecorator(ComposedDataDecorator(LineChart)) (created by LineChartDemo)
    in LineC

[2017-01-01 20:31] kaatt commented on #410
Yeah, only remaining piece – can the top border be made thicker like Google Analytics? I looked at the docs for other styles and border width but didn't find that.

[2017-01-01 21:57] geoffreyvd opened #421 "Adding lines dynamically"
I would like to know if it's possible to create lines dynamically.

So this is my chart:
[code]

And my data looks like this:
[{"channel_id":1,"date_time":"2016-08-12 10:22:04","value":43,"created_at":"2016-10-19 12:26:05","updated_at":"2016-10-19 12:26:05"},
{"channel_id":2,"date_time":"2016-08-12 08:49:04","value":14,"created_at":"2016-10-19 12:26:05","updated_at":"2016-10-19 12:26:05"},
{"chann

[2017-01-01 21:58] geoffreyvd commented on #421
<LineChart data={this.data}>
            <XAxis dataKey="name"/>
            <YAxis/>
            <CartesianGrid strokeDasharray="3 3"/>
            <Tooltip/>
            <Legend />
            <Line type="monotone" dataKey="uv" stroke="#82ca9d" />
          </LineChart>

[2017-01-02 11:15] guybensh opened #422 "Can't access viewBox attribute when define PieChart (any) component"
recharts components are representing svg elements.
The props of recharts components are only allow to access width and height svg attributes.
There is so prop for viewBox attribute.

Any thoughts or ideas?

Thanks

[2017-01-02 17:46] bali182 opened #423 "ResponsiveContainer/ReactResizeDetector wrong calculated size in firefox"
I have a flexbox card layout, in which I'm trying to display some rechart charts. It works perfectly in chrome, but in firefox I'm having this issue:

![peek 2017-01-02 17-37](https://cloud.githubusercontent.com/assets/3879181/21593777/c5c7ca7c-d112-11e6-80bc-2770ab5471eb.gif)

I could track it down to `ResponsiveContainer` or `ReactResizeDetector` (I suspect the later), but basically size is corr

[2017-01-02 18:02] bali182 commented on #423
A simpler repro on fiddle:

http://jsfiddle.net/bali182/mv73f30q/1/

[2017-01-02 18:09] bali182 commented on #423
Looking a bit further it seems like `flex-basis` causes somehow the bogus width values, since without it  the problem doesn't occur:

http://jsfiddle.net/mv73f30q/5/

[2017-01-02 18:12] bali182 commented on #423
Adding `min-width: 0` to the css class `card` also solves the issue. This definitely is a firefox issue. Closing this jira, since it's not rechart's fault.

[2017-01-02 18:12] #423 closed

[2017-01-02 19:40] bali182 commented on #383
In my opinion it would be much better for `value` (or whatever the data accessor function's prop name is) to take a function `Array.map` would take, like this:

[code]

Would this disrupt the current codebase much? Based on `dataKey` being a string I suspected that under the hood the data is simply retrieved by something like this:

const { dataKey, data /* wherever this comes from */ } = this.pro

[2017-01-03 02:40] xile611 commented on #421
@geoffreyvd
Of course.  But you should format the data first, and get the formatted data like the following :

[code]
And meanwhile you should get an array of channel_ids like `const channelIds = ['1', '2']`. Then you can create the chart:

[code]

[2017-01-03 02:51] xile611 commented on #383
I think it's easy to allow the `dataKey` to receive nested key like `'a.b.c'` now.

[2017-01-03 02:55] xile611 commented on #410
@kaatt

Just use `strokeWidth` like svg elements.

[code]

[demo](http://jsfiddle.net/n8y3e0ko/1/)

[2017-01-03 15:34] geoffreyvd commented on #421
Thank you for your respone, so the only way to do this is format my data.
I will see if that is possible.

[2017-01-03 16:38] tarrencev commented on #383
@xile611 I think passing nested keys misses out on a lot of the flexibility enabled by a mapper function and is also a breaking change, since
[code]
is a valid object.

@bali182's solution seems ideal.

[2017-01-03 23:57] loris commented on #383
@tarrencev agree, a mapper function gives way more flexibility. By the way, nested paths could be easily achieved with an helper function such as `get` in `lodash`:

[code]

[2017-01-04 02:32] xile611 commented on #328
I think this issue has been fixed. Please check the latest version.

[2017-01-04 02:32] #328 closed

[2017-01-04 05:44] raviteja83 opened #425 "Brush startIndex not updating"
setting `startIndex` has no effect on the brush,it does not move to the particular index.

[2017-01-04 07:29] xile611 commented on #383
@tarrencev Nested keys means that we can get data in such case:

[code]

by dataKey `'today.a'` or `'yeterday.d'`.

Anyway, I'll refactor recharts to allow the `dataKey` be a simple string, a nested string  or a map function.

[2017-01-04 07:33] xile611 commented on #425
@raviteja83 I think it was covered by [parent component](https://github.com/recharts/recharts/blob/master/src/chart/generateCategoricalChart.js#L925).

How about your use case ?

[2017-01-04 08:32] bali182 commented on #383
@xile611  that's great news!  I'm not trying to pry, but wouldn't it semantically make more sense to not call the function version `dataKey`? Maybe keep dataKey as it is and introduce a new property? I know it would introduce some  complexity to check that dataKey and let's say dataFn are mutually exclusive, and also mess with proptypes, so it might not such a good idea. But passing a function to

[2017-01-04 08:49] raviteja83 commented on #425
i am passing startIndex as props to brush  and the dataStartIndex is not taken from props of brush or parent(composedchart in my case).it is created in state.The startIndex is always 0.

[2017-01-04 09:10] atompie opened #426 "Line onClick is not working."
OnClick is not firing in the following use case:

[code]

onClick={this.handleClick} is not working.

[2017-01-04 12:41] bali182 commented on #375
@xile611 it's awesome that the library is so actively maintained! Thank you!

[2017-01-04 17:00] giuseppepaul opened #428 "Hide yAxis, keep first item on xAxis"
Hi guys, I'm not sure if I'm missing something but I've been looking at this for a while, I'm hoping to be pointed in the right direction. I'm trying to create a Line Chart with days of the week across the x axis:

MON TUES WED THU FRI SAT SUN

The yAxis is just simple numbers, the data looks like this (from your example):

const data = [
    {name: 'Mon', uv: 5, pv: 7},
    {name: 'Tue', uv: 10,

[2017-01-04 18:04] tarrencev commented on #383
@xile611 I understand, but in the case that someone is currently using a object with a "nested key string" as the key, like
[code]
introducing nested key strings would be a breaking change. Doesn't affect me, but just wanted to make sure it's considered

[2017-01-05 03:14] xile611 commented on #426
@atompie It works in this [demo](http://jsfiddle.net/r8tr87zh/).  Maybe strokeWidth={2} is still too thin to be clicked ?

[2017-01-05 03:20] xile611 commented on #422
@guybensh By default, we use width and height to create viewbox ([related code](https://github.com/recharts/recharts/blob/master/src/container/Surface.js)).

[2017-01-05 03:26] huozhi commented on #359
Same question with @Havret ，replace string from `<div>` to `<svg>` is really a hack.

[2017-01-05 03:34] xile611 commented on #383
@tarrencev I think the developer should make sure that the `dataKey` can be used to map the correct values. We just provide three options to make it's more flexible to specify the values.  Do you agree?

[2017-01-05 03:50] xile611 commented on #383
@bali182 Yeah, I know it's not semantical to call a function as `dataKey`. But I want to use unified props for such case( add data in `LineChart` and specify a attribute in `Line`). Something just like [d3-shape stack](https://github.com/d3/d3-shape#stack_keys),  we can specify strings as keys or accessor functions as keys too.

Meanwhile I want to support series-like data too which will bring ano

[2017-01-05 11:28] francescabassi opened #429 "Tooltip doesn't work"
Hi guys,
I have an issue with Tooltip

This is my chart:

<ResponsiveContainer height={500} width={'100%'}>
  <LineChart  data={chart}  margin={{ top: 5, right: 30, bottom: 20, left: 5 }}>
    <XAxis dataKey="date"/>
    <YAxis />
    <CartesianGrid strokeDasharray="3 3" />
    <Tooltip />
    <Line name="Amount In" type="monotone" dataKey="amount_in" stroke="#8884d8" unit={' €'}/>
    <Line name=

[2017-01-05 11:41] xile611 commented on #428
@giuseppepaul

You can use `interval={0}` to force all the ticks to be shown. By default, we'll calculate the width of tick and hide some ticks when no enough space. But the calculation may be inaccurate in some cases. We'll try to fix it.

[code]

[2017-01-05 11:44] #190 closed

[2017-01-05 11:44] #258 closed

[2017-01-05 11:44] #383 closed

[2017-01-05 11:48] xile611 commented on #429
@francescabassi I think it has been fixed in version 0.20.2.

[2017-01-05 11:48] #429 closed

[2017-01-05 11:54] #425 closed

[2017-01-05 14:47] jurajhrib commented on #375
would like to see this too

[2017-01-05 15:59] dougajmcdonald commented on #375
@kartboy16 I managed to do what @Eric24 was describing, but only by preventing the data being sent within my `actions` if it was the same as it was last time.

This caused some re-factoring but now makes my charts more dumb which I like.

[2017-01-05 16:06] dougajmcdonald opened #430 "Displaying placeholders when no data is available"
I have a set of re-charts bar charts and would like to display some text in the position where bars would be if the data is not present (to differentiate zero and null/not present).

At the moment I have a semi custom 'Bar' which renders a `Cell` with some custom colouring logic. I'd like to expand this to output some `Text` but can't seem to get it to render at all. I thought it was just the posi

[2017-01-06 06:54] raisezhang opened #431 "In a scroll or render multiple charts, graphs will be flashing"
HI guys:

In the process of using found some bugs
1、Chart of initializing render slants big, resulting in overlapping ```Legend``` on the chart
Screenshots:  http://recordit.co/bQtdUpjyv8
2、In a scroll or render multiple charts, graphs will be flashing
Screenshots:  http://recordit.co/fNVfbJky2n    （in 10 ~ 12 seconds）

Unfortunately, No repetition of this kind of problem in JSFiddle, don't know t

[2017-01-06 08:10] raviteja83 opened #432 "reduce the offset provided"
The graph is offset by some default values which leaves so much blank space around the graph.how to reduce the offset.I am using composedchart with bar and line and i would like to reduce the offset between svg container start and the graph start.

[2017-01-06 17:04] billcreative opened #434 "Tooltip Animation Settings"
I've been playing around with Recharts for the past couple of days and am finding the Tooltip animation very inconsistent. This could be due to the animation changing on every mouse move.

Here's a demo where I've extended the animationDuration to exaggerate what happens.
https://jsfiddle.net/Billsy/un16cwkd/3/

If you move from one bar to another slowly (keeping your mouse on the same Y axis) you

[2017-01-08 00:04] with0out opened #436 "Customize ticks in Radar Chart based on their representing values"
I'm wondering if it's possible to customize the ticks in such a way, for example, in the [RadarChart](http://recharts.org/#/en-US/examples/SimpleRadarChart), style History to red, because the student have low score.

So far I can only style all ticks with same color, is there a way to achieve this? Thanks!

[2017-01-08 17:55] OracPrime commented on #414
I'd also be very interested in this.  Or to put it another way, ability to have date as an axis type on a Scatter chart.

[2017-01-08 18:47] OracPrime opened #437 "Richer payload for custom labels/tooltips"
I like the ability to customize tooltips for points on the charts.  However it would be nice if the payload represented the data that corresponded to the point originally.  e.g. if my data consisted of objects such as
{ x: 2005, Score: 30, When:new Date(2005,1,6)  }
and I'm graphing x vs Score, then it would be nice to get hold of this whole object as the payload so that I could use When in my too

[2017-01-09 09:29] mmmdreg opened #439 "Reference bar / overlay bar"
Is there a way to overlay bars on top of each other so they start from the baseline y and are centered on the same point on the x axis? Currently they can be stacked on be side by side.

The width and color would be specified in order to differentiate the bars at each point.

This is useful to have a reference (or multiple) at each point. For example, visualising the current value against historic

[2017-01-09 12:50] ZephD commented on #434
Nice example.
This looks like the animation starts from the previous point to the new mouse location each mouse update.
If the mouse has moved a lot, the animation starts to play and the box starts to slide between the old and new locations.
However, _during an animation_, if the mouse moves a tiny amount more, the box snaps to the previous new location, then animates across the tiny distance.

Th

[2017-01-09 12:53] ZephD commented on #390
Any chance it can be used with http://jsfiddle.net/b1Lb3kuk/3/ ?

[2017-01-09 15:34] dougajmcdonald commented on #430
I resolve this by creating a custom `label` component on the `Bar` and creating an svg text item in there.

[2017-01-09 15:35] #430 closed

[2017-01-09 18:26] peterhadlaw opened #441 "Changing domain does not work properly with stacked area graph"
If you're data contains stacked area graphs, with let's say one of the stacks at some point reaching 0, you can't set your domain to be, for example [50, 100]. It will still show the YAxis domain as [0,100]. If you remove the part of the stacks that has the data with points < 50, then the domain will be properly updated.

[2017-01-10 06:27] xile611 commented on #432
@raviteja83 You can update margin of chart and adjust the width of `YAxis`, height of `XAxis`.

[2017-01-10 06:31] xile611 commented on #437
@OracPrime Which chart ?

[2017-01-10 06:46] xile611 commented on #436
@with0out You can use customized `tick` like this [demo](http://jsfiddle.net/dpvqmgf2/).

[2017-01-10 06:50] xile611 commented on #431
@raisezhang The crash may be caused by hot-loader.

[2017-01-10 06:52] #421 closed

[2017-01-10 06:53] #426 closed

[2017-01-10 06:57] xile611 commented on #431
I'll try to optimize problem 1.
But problem 2 seems very strange. what's the purple block?

And If problem 2 only happens in development environment, you can try to remove hot-loader and check whether this problem can be reproduced.

[2017-01-10 06:58] xile611 commented on #441
@peterhadlaw Can you create a jsfiddle demo ?

[2017-01-10 06:59] xile611 commented on #439
@mmmdreg Thanks! Great suggestion!

[2017-01-10 08:15] OracPrime commented on #437
Scatter -  I'm looking at this as a work around for no data axes in scatter charts.  Thinking of having numeric years as the axis and the date as a tool tip on each point

[2017-01-10 09:27] loris commented on #441
Same issue here, here is a [jsfiddle demo](http://jsfiddle.net/ze8c333g/20/)
I just modified the documented [StackedAreaChart demo](http://recharts.org/#/en-US/examples/StackedAreaChart) to set `type="number" domain={[2000, 15000]}` on the `YAxis`. As you can see, the axis starts at 0 instead of 2000. It does not work with `auto` or `dataMin` neither. By the way, same issue with `BarChart` too.

[2017-01-10 14:21] kenchengch opened #442 "typings support"
Hi! I like this project very much. Please help to support typescript as https://git.itch.ovh/itchio/itch/blob/2f1b4f0535a3ee91739f3371414642e6d9e0d3d5/typings/recharts.d.ts

[2017-01-10 15:05] CIS-gvoit commented on #209
I am still seeing this inverted behavior in my horizontal chart:

![image](https://cloud.githubusercontent.com/assets/14200749/21811034/1a68fb78-d71c-11e6-9fe3-af865b94bac7.png)

The code used to generate this graph is as follows:

[code]

[2017-01-10 19:38] patryk0605 opened #443 "Radial Bar: Text same color as fill"
In the [SimpleRadialBarChart](http://recharts.org/#/en-US/examples/SimpleRadialBarChart), the text of the value within each radial bar use to be visible, but now the text is the same color as fill - masking the value. For example, if the `uv` value is reduced from **6.67** to **0.67** like so: `{name: 'unknow', uv: 6.67, pv: 4800, fill: '#ffc658'}` to `{name: 'unknow', uv: 0.67, pv: 4800, fill: '#

[2017-01-10 23:24] GregPhyn opened #444 "Tooltip not working on Area chart - mobile touch events"
Hi Guys,

I'm having problems getting recharts tooltip to work with mobile touch events for area charts.
I see that it has been fixed for lineCharts per https://github.com/recharts/recharts/issues/204

Any help with area charts?

Thanks!

[2017-01-11 00:01] peterhadlaw commented on #441
@xile611 The result is essentially the same as the fiddle shared by @loris . @loris thank you for sharing.

[2017-01-11 02:22] xile611 commented on #444
The events of AreaChart and LinChart are implemented in the [generateCategoricalChart](https://github.com/recharts/recharts/blob/master/src/chart/generateCategoricalChart.js#L997).

[2017-01-11 02:28] xile611 commented on #442
@kenchengch Can you submit a pr ?

[2017-01-11 02:30] xile611 commented on #442
Duplicated with #290

[2017-01-11 02:30] #442 closed

[2017-01-11 02:41] xile611 commented on #443
[demo](http://jsfiddle.net/j6n54k0r/)

@patryk0605 You can specify the color of text by `label={{ fill: '#fff' }}`.

[2017-01-11 03:05] xile611 commented on #439
@mmmdreg  How about this [demo](http://jsfiddle.net/k971to6h/) ?

[2017-01-11 03:28] raisezhang commented on #431
Thank you for reply~

Purple block is the parent container background image,
Online and development environment are the same problem.

[2017-01-11 03:30] xile611 commented on #431
@radarhere Can you create a jsfiddle demo ?

[2017-01-11 07:25] mmmdreg commented on #439
Demo is perfect once I set barSize on each bar. Thanks a lot!

[2017-01-11 07:25] #439 closed

[2017-01-11 08:04] #432 closed

[2017-01-11 08:14] radarhere commented on #431
@xile611 I believe you meant @raisezhang

[2017-01-11 08:24] xile611 commented on #431
@radarhere Yeah! sorry...

[2017-01-11 09:40] OracPrime opened #445 "Some issues with building on Windows"
I'm attempting to get this project building/running on my system with a view to making some contributions.   I may be doing something stupid, but I'm having a few issues.

1) [I'll submit this fix when I've got everything working] package.json needs to make use of cross-env in some of the script entries to make it work on Windows (and have a dev dependency of cross-env).

2) Demo/index.html contai

[2017-01-11 12:31] ZephD opened #446 "Display data in Brush"
Is it possible to display graphable data in the brush?

For example, the dataKey is the x-axis key, but can we also have show one (or more) of our y-axis data in the brush?

[Like this](https://i.stack.imgur.com/JYBwS.png)

[2017-01-11 14:34] patryk0605 commented on #443
Super, thanks!

[2017-01-11 14:34] #443 closed

[2017-01-11 16:25] ZephD commented on #390
Tried with 20.2. This issue is _not_ solved. :(

[2017-01-11 16:25] ZephD commented on #401
Tried with 20.2. This issue is _not_ solved. :(

[2017-01-11 19:30] GregPhyn commented on #444
@xile611 I'm confused on how I'd implement that.
Do I need to simply
Import "generateCategoricalChart" from "recharts" ?

[2017-01-11 19:36] GregPhyn opened #447 "Area Chart - Edge Case for Visual Display of One Value"
Hello recharts team,

I've noticed that when there is only 1 value to display for AreaChart, it messes up the look. To illustrate,

This is how data looks with multiple values (good):
<img width="323" alt="screen shot 2017-01-11 at 11 34 52 am" src="https://cloud.githubusercontent.com/assets/22822404/21863362/00154f98-d7f2-11e6-82ea-2293f822700b.png">

This is how data looks with only 1 value:
<im

[2017-01-11 19:38] OracPrime commented on #445
OK I now understand how 2 is works using npm run-script demo.  Although I'm not yet sure how it works - I *think* that webpack is serving its in-memory copy of bundle.js (because the name, if not the path, matches) and so it doesn't notice that the path is wrong.  I still suspect that the reference in index.html should be build/bundle.js  - which works with webpack-dev-server and also with visual

[2017-01-11 20:40] OracPrime commented on #445
And I think I've got the stage where I have some minor changes on my fork to commit, but the lint rules are insisting on LF linebreaks, whereas git has pulled CRLF style files because I'm on windows, and  I've got 12252 lint errors :(

Any suggestions?  I hesitate to hack the lint rules for the project on my first commmit!

[2017-01-12 02:10] xile611 commented on #447
@GregPhyn When we have just one value, only one point can be displayed.

[2017-01-12 02:14] #447 closed

[2017-01-12 02:14] #436 closed

[2017-01-12 02:32] xile611 commented on #390
@ZephD Check the latest [demo](http://jsfiddle.net/b1Lb3kuk/12/). I just use a variable `margin` and `activeDot` to keep the static value of margin and activeDot. you know, every time you change the state, a new margin and a activeDot will be parsed to `LineChart`, then the `shallowEqual` of two children will return `false`.

Maybe you can check this [article](https://medium.com/@esamatti/react-js

[2017-01-12 02:32] #390 closed

[2017-01-12 02:49] xile611 commented on #444
@GregPhyn I mean, If touch events can work in LineChart, then touch events must work in AreaChart too, because both `LineChart` and `AreaChart` are generated by a high order component. As you can see in the [code of generateCategoricalChart](https://github.com/recharts/recharts/blob/master/src/chart/generateCategoricalChart.js#L997), we have bound `touchmove` event in the charts.

[2017-01-12 03:06] xile611 commented on #445
@OracPrime Can you submit a PR ? We have no windows computer...

[2017-01-12 10:55] ZephD commented on #390
The problem still exists:

Move your cursor VERY slowly (pixel by pixel) from one to the other.
Note that the very first update to the next value does not render the tooltip (but it does render the RefLine).

This effect is very obvious when you have many many data points, ie they are all one pixel wide.

See http://jsfiddle.net/b1Lb3kuk/13/
Move your curser side-to-side over the graph, note there

[2017-01-12 12:26] chin-idean opened #448 "Add padding between axis and tick"
Hi, i would like to add some padding between Axis and Tick, read some comment on #201
But unfortunately can not add padding-top, padding right did work.

Is there any part of doc or code sample for customtick component and tick props ?

[2017-01-12 18:54] OracPrime commented on #445
Done.  That's my first ever GitHub pull request, so I hope I've got it right.  I'm from a Windows+SVN background...

[2017-01-13 02:33] cambwang opened #450 "How to inherit the css style from the parent label"
For example, the type "width" and "height" property in <PieChart> is number.
When I use <PieChart width={400} height={400}>, it works.
But when I use <PieChart width={'100%'} height={'100%'}> or
<PieChart width={'inherit'} height={'inherit'}>, the component does not work.
How to inherit the css style from the parent label?

[2017-01-13 05:11] AyushSharma91190 opened #451 "Bar Chart animation not working in Internet Explorer"
It is working fine in chrome, but not for Internet explorer 11,

http://recharts.org/#/en-US/examples/SimpleBarChart

[2017-01-13 07:00] xile611 commented on #448
@chin-idean

You can use [`transform` of tick](http://jsfiddle.net/e6r4bxf5/) or [customized tick](http://jsfiddle.net/yhp9esbs/).

[2017-01-13 07:02] xile611 commented on #450
@cambwang You can use a [`ResponsiveContainer`](http://recharts.org/#/en-US/api/ResponsiveContainer) to wrapper the chart component.

[2017-01-13 07:02] #450 closed

[2017-01-13 09:11] AyushSharma91190 commented on #451
Anyone with any solution???

[2017-01-13 09:29] chin-idean commented on #448
@xile611
![screen shot 2017-01-13 at 11 28 51](https://cloud.githubusercontent.com/assets/23170550/21924858/898fc98c-d983-11e6-8410-06fb246bb58d.png)

Increase width of tick ?

[2017-01-13 10:06] #448 closed

[2017-01-13 11:05] BTMPL opened #452 "Axis tick size calculation incorrect"
The bounding box of the axis `tick` elements appears to be calculated not based on the custom `tick` provided to the `<XAxis />` element, resulting in either overlapping or too few labels.

Demo of the issue: http://jsfiddle.net/rgbt5ktv/

Is there a way to force recalculation of the tick size / spacing I am missing, or is this an issue?

[2017-01-13 20:31] duro opened #453 "Rectangles with negative heights do not apply radius"
I am creating a custom Bar shape and using the Rectangle component to render the bar shape. The bar chart I creating has the possibility of negative values. When I apply a radius property to the Rectangle shape renderer, it works fine for any of the bars that have positive values, but not for any that have negative values.

[2017-01-13 20:38] duro commented on #453
Here is a JSFiddle of the issue: http://jsfiddle.net/1vq6jhbx/1/

[2017-01-13 20:41] xuerion opened #454 "BarChart onMouseLeave()'s returned object only contains isTooltipActive?"
I have an event handler function setup for onMouseLeave in BarChart. The object passed in used to contain things like "bucket" and "value", which are pretty important for functionalities that need to know which bar of the bar graph was interacted with. Now only "isTooltipActive" is provided. Did this get removed intentionally, or is it a bug, or is there a new way to access the other properties (s

[2017-01-13 21:40] GregPhyn commented on #444
@xile611 so what happens is touchEvents work once; i.e. touch on tooltip -> shows tooltip -> can't touch on any other tooltips... is this a known issue?

[2017-01-14 06:36] cambwang opened #455 "There is an error in line 126 in react-smooth/src/easing.js"
The line  126  in react-smooth/src/easing.js is:
`case 'ease-int-out':`

Is it an error and should be
`case 'ease-in-out':` ?

[2017-01-14 17:40] with0out commented on #436
@xile611 Thanks, it works like a charm, really appreciate your demo!

[2017-01-15 08:57] windsome commented on #375
how to do smoothly update? is there a solution?

[2017-01-16 01:44] windsome commented on #414
@xile611  Is there a solution? how to add this feature.

[2017-01-16 02:29] windsome commented on #414
ok, I found it is related with #154 . axis is number, but let axis displayName generated by a function, can solve this.

[2017-01-16 02:59] windsome opened #456 "ScatterChart Tooltip not shown"
[ScatterChart tooltip not shown](http://recharts.org/#/en-US/examples/SimpleScatterChart)
I copy the code to my own project and test, found that the tooltip shows slowly, it takes one second to show after I move mouse on the point.

[2017-01-16 14:36] emmenko opened #457 "Think about using fixed deps versions to avoid upstream updates that break things"
At the moment all deps use `^` as version range. While this is good for getting upstream changes for free, sometimes it breaks because of that.

Latest example: https://github.com/recharts/react-smooth/issues/9

I think it might be worth considering removing version ranges wherever possible to avoid such problems, specially if broken versions are released by mistake or simply because people don't

[2017-01-16 19:46] germanattanasio commented on #457
In the meantime you can do

[code]

And change the react-smooth version to be 0.1.17

[code]

[2017-01-16 21:12] ammmze commented on #205
Anybody try [html2canvas](https://html2canvas.hertzen.com) which I guess can export to PNG? Or maybe this one https://github.com/tsayen/dom-to-image/blob/master/README.md

I'm gonna need this functionality soon, so will be trying it out soon-ish

[2017-01-17 03:35] xile611 commented on #455
Fixed in version 0.1.19 of react-smooth.

[2017-01-17 03:35] #455 closed

[2017-01-17 06:58] xile611 commented on #454
@xuerion You can bind event on `Bar` instead of `BarChart`.  `onMouseLeave` bound to `BarChart` is trigged when mouse leave the box of BarChart.

[2017-01-17 07:06] #456 closed

[2017-01-17 07:06] #457 closed

[2017-01-17 07:07] xile611 commented on #445
Fixed in 0.20.3.

[2017-01-17 07:07] #445 closed

[2017-01-17 07:08] xile611 commented on #453
Fixed in 0.20.3.

[2017-01-17 07:08] #453 closed

[2017-01-17 07:14] xile611 commented on #441
@loris @peterhadlaw Add props `allowDataOverflow` in `YAxis`, and update to version 0.20.3.

[api](http://recharts.org/#/en-US/api/YAxis)
[demo](http://jsfiddle.net/ze8c333g/21/)

[2017-01-17 07:14] #441 closed

[2017-01-17 13:30] xile611 commented on #434
@billcreative @ZephD Some bug happens in `Tooltip`, so that `sAnimationActive={false}` didn't work before. And I remove `<Animate>` in `Tooltip`, just [update style to animate the tooltip](https://github.com/recharts/recharts/blob/master/src/component/Tooltip.js#L167).

[demo](https://jsfiddle.net/un16cwkd/4/)

[2017-01-17 14:34] patryk0605 opened #459 "Maximum call stack size exceeded error after upgrading to 0.20.4"
Using the following chart:

[code]

I am receiving the following error when hovering over the `RadialBar`:

[code]

This issue started occurring after upgrading from **0.20.2** to **0.20.4**.

[2017-01-17 14:37] patryk0605 commented on #459
Also, this error only occurs when the `RadialBarChart` has 4 or more values. Hovering over the first 4 values will not cause an issue, but once you try to hover over the 4th or 5th, the chart and tooltip freeze up and fire off the above error in the console.

[2017-01-17 14:53] loris commented on #459
+1, do confirm the issue, it also occurs with `PieChart` (whatever the number of displayed values is). By the way, it only occurs when chrome console / react devtool are opened (looks like it comes from some dev-only benchmark methods like `measureLifeCyclePerf`)

[2017-01-17 15:03] patryk0605 commented on #459
@loris You're right that it's only happening in Chrome as I tried on IE11 with no issue. However it happens regardless of console being open or not - at least for me anyway on `Chrome 53.0.2785.116 m`

[2017-01-17 15:07] xile611 commented on #459
@patryk0605 I found the problem in 0.20.3, so I try to fix it in 0.20.4. I can't reproduce the problem now.

[2017-01-17 15:13] patryk0605 commented on #459
@xile611 Please refer to this [fiddle](https://jsfiddle.net/patryk0605/hbyfdkk2/1/) and hover over some of the bars to trigger error.

[2017-01-17 15:59] xile611 commented on #459
The problem seems to be caused when the [width and height of tooltip change](https://github.com/recharts/recharts/blob/v0.20.4/src/component/Tooltip.js#L111) alternately very small in some cases.

<img width="971" alt="2017-01-17 11 38 58" src="https://cloud.githubusercontent.com/assets/6111424/22027928/63fc0bf0-dd10-11e6-8bab-1900fa6544fb.png">

So I [add a tolerance value](https://github.com/rec

[2017-01-17 16:06] patryk0605 commented on #459
@xile611 After updating to **0.20.5**, I am no longer encountering the issue. Thanks for the quick turnaround on this.

[2017-01-18 02:33] xile611 commented on #459
Fixed in recharts@0.20.5.

[2017-01-18 02:33] #459 closed

[2017-01-18 19:40] cemremengu opened #460 "Ehancement: Step Line"
As can be seen [here](http://www.highcharts.com/stock/demo/step-line)

It would be great when showing binary values.

[2017-01-18 19:42] cemremengu opened #461 "Enhancement: Area Range"
As can be seen [here](http://www.highcharts.com/demo/arearange-line)

Very good when showing how the line approaches the boundaries.

And also, thanks everyone for absolutely amazing work and dedication! :heart:

I have looked into many charting libs for react but none of them comes close to recharts

[2017-01-18 21:08] pioneer32 opened #462 "Chart disappears when trying to get a bar chart with logarithmic yAxis"
It's easy to reproduce. I've just tried to use link to JSFiddle on demo page http://jsfiddle.net/kca9npkg/6/?utm_source=website&utm_medium=embed&utm_campaign=kca9npkg

Then I added YAxis prop "scale", so the chart is visible when scale="auto" is shown, when I set any other value, e.g. scale="log", the chart disappears.

The question is what I should do to have a bar chart with logarithmic yAxis? o

[2017-01-19 02:33] xile611 commented on #462
@pioneer32

When the bars are stacked, the minimum value of domain is 0 by default. But log(0)  is invalidate, so the bars disappear.

You should set the `domain` of `YAxis` like the following:

[code]

[demo](http://jsfiddle.net/kca9npkg/117/)

[2017-01-19 03:29] pioneer32 commented on #462
Thank you for the reply. I've just had a quick look at http://jsfiddle.net/kca9npkg/117/ and it doesn't seem to be working properly. uv bars aren't visible and pv bars stick to the top of the chart.

[2017-01-19 07:56] cemremengu opened #463 "Change X-Axis and Y-Axis colors ?"
Is there a way to change the x and y axes colors to something else ?

[2017-01-19 07:57] cemremengu commented on #463
I will ask about it in chart but if anyone has answers, feel free to post it here. Thanks!

[2017-01-19 07:57] #463 closed

[2017-01-19 08:16] cemremengu opened #464 "How to export charts ?"
Is there a way to export/download the charts currently ? Or any known way to implement it if it does not exist ?

[2017-01-19 11:14] aseemevari opened #465 "Event Click Handler on the Pie Chart Customised Label Message"
Hi Guys,

Thanks for the wonderful library.

I have a typical requirement where i need a Click Handler on the Pie Chart customised label message where the label message needs to be a button or some clickable element.

Basically I want to perform some actions based on the click of these message , I know onClick can be provided on individual Pie but my requirement is bit different whereas i need to

[2017-01-19 13:40] cemremengu commented on #460
Already supported with `stepBefore` and `stepAfter` curve options: http://recharts.org/#/en-US/api/Curve

[2017-01-19 13:40] #460 closed

[2017-01-19 21:46] Eric24 commented on #461
I believe this is a dup of #316

[2017-01-19 22:05] Eric24 opened #466 "Rotated Axis labels"
It would be great to have support for axis labels that appear rotated, to the left/right of a Y-axis or the top/bottom of an X-axis. See this link for an example: [Rotated Axis Labels](http://www.highcharts.com/demo/combo-dual-axes)

[2017-01-20 07:21] cemremengu commented on #461
Yes, it looks like it @Eric24 . Closing to continue discussion there

[2017-01-20 07:21] #461 closed

[2017-01-20 08:15] cemremengu opened #467 "Q: What is the 'amt' property being used in all example data sets ?"
The data sets have a property called `amt` which I couldn't find any info about. It looks like a value point but not shown on charts:

`{name: 'Page G', uv: 3490, pv: 4300, amt: 2100},`

What exactly is it for ? Is it something special ?

[2017-01-20 12:03] arcthur commented on #464
recommend use npm and webpack to import or export charts.

[2017-01-20 13:00] vaeum commented on #372
Hello, bug not resolve ((
http://jsfiddle.net/vaeum/dmeaodhc/4/

[2017-01-20 13:03] vaeum opened #468 "Bug with stackOffset="expand""
Recharts v0.20.5

Hello, bug not resolve ((

Please, check
http://jsfiddle.net/vaeum/dmeaodhc/4/

[2017-01-20 15:15] youngnicks commented on #184
Changing the rotation point makes positioning the y-axis label much easier. The following is working for me.

[code]

[2017-01-20 16:11] BrunoQuaresma opened #469 "How can I do the stroke thicker?"

[2017-01-21 09:09] Ai01 opened #470 "how to use different color in pie chart ?thank you"
<img width="115" alt="2017-01-21 5 10 54" src="https://cloud.githubusercontent.com/assets/18245929/22173405/9b7a9ea4-dffc-11e6-97ee-57a5056e5903.png">

[2017-01-22 02:16] aseemevari commented on #470
Hi,

There is a example in the Recharts examples section that demonstrates your requirements,
http://recharts.org/#/en-US/examples/PieChartWithPaddingAngle

Basically you take each Cell component and fill with your desired color
`<Pie
          data={data}
          cx={120}
          cy={200}
          innerRadius={60}
          outerRadius={80}
          fill="#8884d8"
          paddingAngle={5}

[2017-01-22 08:56] evilucifero commented on #469
Can you provide any code or case? Usually, you can just set props to Recharts components as svg component. ex. `<Line strokeWidth={2} />`

[2017-01-22 08:58] evilucifero commented on #467
Aha, nothing special :-)

 'amt' is abbr. of word 'amount'. You can definite any property name you like.

[2017-01-22 11:16] Ai01 commented on #470
thank you very much!

[2017-01-22 17:54] #467 closed

[2017-01-23 09:30] wojciechAdaszynski opened #471 "Custom icon in Legend component"
First of all, thank you for creating such awesome library! I didn't manage to find a way to modify default icons for `Legend` component (e.g. line without a dot). Creating custom component with styling to pass it in `content` prop seems to be overkill for such simple task. Would it be possible to provide `legendIcon` prop to pass function rendering svg icon in future release? Another way would be

[2017-01-23 11:55] BrunoQuaresma commented on #469
This not work for area charts 😞

[2017-01-23 12:24] #470 closed

[2017-01-23 12:27] evilucifero commented on #469
It should works fine in AreaChart.
Maybe you can try to pass a prop `strokeWidth` to Area component like `<Area strokeWidth={10} />`.

[2017-01-23 12:28] evilucifero commented on #469
If still not work, would you like to show me your code? I'll help you figure out it.

[2017-01-23 12:42] evilucifero commented on #471
You can modify icon by pass payload to Legend. Like the code below,
[code]
(http://jsfiddle.net/n8cysgrj/)[http://jsfiddle.net/n8cysgrj/]

[2017-01-23 12:43] evilucifero commented on #471
We offer some icons which you can use it by change `type` in payload.

`['line', 'square', 'rect', 'circle', 'cross', 'diamond','star', 'triangle', 'wye']`

[2017-01-23 12:45] evilucifero commented on #471
If you want to highly customized, I guess the best way is still to write your own icon by passing content.

[2017-01-23 15:54] BrunoQuaresma commented on #469
It works. Sorry.

[2017-01-23 15:54] #469 closed

[2017-01-23 22:53] matthewberkompas opened #472 ""Total" bar label for stacked bar chart"
Below is a screenshot of my stacked bar chart:
<img width="1127" alt="screen shot 2017-01-23 at 2 47 57 pm" src="https://cloud.githubusercontent.com/assets/7084294/22226334/ff247072-e17a-11e6-9d61-c2580e6c9452.png">

I would like to add a **bold** `label` to the end of each bar which would show the combined total of each section in that bar. Is there a way to do this currently? Thanks in advance!

[2017-01-23 23:22] sators opened #473 "Synchronized Chart - Area Chart Disappears"
If you notice your example at [http://recharts.org/#/en-US/examples/SynchronizedLineChart](http://recharts.org/#/en-US/examples/SynchronizedLineChart), when you adjust the brush start/stop of a syncronized chart, the AreaChart does not redraw and goes blank. I'm having this same problem when trying to utilize sync'd charts.

[2017-01-24 00:24] akvanhar commented on #466
I would like this too - I don't use your axis labels for just this reason.

[2017-01-24 06:36] hyunwoona opened #474 "Tooltip per stacked bar in the StackedBarChart"
I need a StackedBarChart with a tooltip per each stacked bar that displays the value of the stacked bar that is hovered over.

<img width="503" alt="screenshot 2017-01-23 22 56 52" src="https://cloud.githubusercontent.com/assets/3788978/22237223/428618c2-e1bf-11e6-8712-23c83a28c36d.png">

For example, if the violet and blue rectangles each represents 20 people from team A, and 10 people from team

[2017-01-24 08:37] squll1 opened #475 "I want to pass the data into the props in the custom tick."
[code]
Can I pass only that data in an array?
like dataKey="title"

[2017-01-24 14:13] cemremengu opened #476 "ThreeDimScatter with string values on axes"
I am trying to create a punch card chart like shown below but the scatter axes won't let me give string values to axes.

Is there any way to achieve this ?

![punch](https://cloud.githubusercontent.com/assets/1297759/22250571/77fcca66-e258-11e6-969d-59f9a5ad8df4.PNG)

[2017-01-24 14:50] aesopwolf commented on #274
@xile611 I see over in https://github.com/recharts/recharts/issues/305 that you released a `scale` prop for the Axis components.

Would you mind sharing how that can be used to achieve a line chart of time series data?

Given the following data, how would we configure the x-axis to display only 2 labels (one for each month), but still plot each data point for each individual day?

[code]

[2017-01-24 21:22] chipit24 opened #477 "[Suggestion] Add more details to API docs"
I'm going through the [API documentation](http://recharts.org/#/en-US/api) and it looks like useful details are missing.

For example, the docs for the [`Tooltip`](http://recharts.org/#/en-US/api/Tooltip) `formatter` prop only state that it's an optional function; there is no information on what arguments are provided and what the function should return.

By providing such details, it will save us

[2017-01-25 06:48] RobiFerentz commented on #474
I think you can simply add an onMouseOver property with a handler that will show a tooltip.
Something like:
`<Bar dataKey="someKey" stackId="a" fill="#000" onMouseOver={()=>showTooltip()} />`

This will probably require you to also add an onMouseOut prop+handler to hide the tooltip.

[2017-01-25 12:39] ZephD commented on #375
Looking forward to progress on this. Having a pie chart section "expand" when it's value increases will be amazing.

[2017-01-25 13:02] ZephD opened #478 "Chart Title"
On some Chart objects, [there is a "title" prop](https://github.com/recharts/recharts/blob/master/src/chart/PieChart.js#L53), but this does not manifest into a displayed title (it is unused).

Any chance this can be implemented?

For now, help with placing a <Text/> object would be appreciated... (no x and y location data available).

[2017-01-25 14:46] hyunwoona commented on #474
Thank you. That really helped.
I solved this by keeping a state (in my case in Redux store) and setting, on a onMouseover event, it to the id of the bar the mouse cursor is on, and on a onMouseLeave event setting it to null.
Then I made my custom tooltip component subscribe to this state, so that it accordingly re-renders to changes in this state.

If rendering a separate tooltip for each stacked

[2017-01-26 12:43] FrantisekGazo opened #479 "Support for 3D charts"
Could you add support for 3D charts? e.g. 3D scatter chart

[2017-01-26 17:02] matheusml commented on #204
Can I help in any way so that this PR is accepted?

[2017-01-26 19:23] liubko opened #480 "ReferenceArea doesn't cover along y-axis and x-axis if x2 and y2 are missing"
Demo: http://jsfiddle.net/liubkoliubko/rk119osf/3/
expected that this code will cover all chart area
[code]
or like this
[code]

----

_What I'm actually trying to do is to add background to the chart, using `<ReferenceArea>` is as close as I can get, but maybe there another approach?_

[2017-01-26 21:06] malbolge44 commented on #184
Hey @youngnicks can you please provide an example on how would you call this inside <YAxis
label={SOMETHING} /> I'm new to react and not yet used to all the prop stuff.

[2017-01-27 02:37] ghost opened #481 "Y-Axis Fixed Position Area Chart"
How would one make the y-axis position:fixed as in cases where chart data gets loaded in mobile device and user needs to scroll to right I'd like the y-axis to stay fixed.

Thanks

[2017-01-27 02:49] Eric24 opened #482 "Non-linear Tick Labels"
Is it currently possible to create an Axis where the tick labels are non-linear? In other words, if the domain is  linear from 0 to 100 but I only want to show tick labels at 0, 20, 60, 70, 80, 90, 95.

[2017-01-27 12:48] youngnicks commented on #184
@malbolge44, just create the component above and include it in your graph component. You would then use it with the following.

[code]

[2017-01-27 19:36] gusdaud opened #483 "Distance between axis labels"
Hi,

Is there a way to increase the distance between the labels and its axis ?
Also how do I change the label font ?

Thanks,

[2017-01-27 19:38] gusdaud opened #484 "Band chart"
Is there a way to draw a chart line the one bellow ?

![image](https://cloud.githubusercontent.com/assets/13708461/22384841/4492728c-e4b7-11e6-841d-d5d2dac80fe4.png)

I believe its called a "band chart".
In case there isn't a predefined way, can I draw it using the Polygon component ?

Any help will be appreciated. Thanks,

[2017-01-27 20:28] xuerion commented on #454
Thank you @xile611, that worked. I've moved the one on PieChart to the Pie component as well, and it returned the samething. Still don't know why Bar vs BarChart is different but Bar works so all good!

[2017-01-27 20:28] #454 closed

[2017-01-29 18:59] JoeRandom opened #485 "onClick ReferenceArea"
Is onClick supported in the ReferenceArea component?

Thank you for the great library.

[2017-01-30 04:05] akonwi opened #486 "onClick prop on Line isn't being invoked"
According to the docs, the Line component has an `onClick` property but the method I'm providing isn't getting invoked. With that said, the LineChart element's `onClick` property works as expected.

I have a [jsfiddle](http://jsfiddle.net/x1yoboc7/339/) set up here.

[2017-01-30 12:32] gusdaud commented on #483
Not the best solution, but I've found out that this works:

[code]

Do you think that axis text customization might be something worth of adding in the next versions ?

[2017-01-31 01:35] Eric24 opened #487 "Pie Chart Slice Colors"
Is there a simpler/cleaner way to add colors to pie chart slices? The current example (like this [PieChartWithPaddingAngle](http://recharts.org/#/en-US/examples/PieChartWithPaddingAngle)) seems overly convoluted for something that really should be "built in". Maybe just an attribute on the "pie" component that allows you to set an array of colors, which are then selected in order, like in the exam

[2017-01-31 09:03] veej opened #488 "LineChart: add custom tooltip just above a point"
Hi everyone,
in my project I'm trying to achieve something like in the image below, where the tooltip is rendered just above the point it refers to.

![image](https://cloud.githubusercontent.com/assets/925635/22458304/24e31094-e79c-11e6-9f3a-9a0c1c807df0.png)

Looking at the props the custom tooltip receives, coordinates follow the mouse cursor. Is there a way to have coordinates fixed to the poin

[2017-01-31 10:48] ZephD opened #489 "Make <Text/> unselectable"
Is there a way to make the text component unselectable?
While interacting with a pie chart, it often selects the text and it looks awful.

Is there a way to disable the text being selectable?

I've tried:
`<Text style={{userSelect: 'none', pointerEvents: 'none'}}> Test Text </Text>`
But to no avail.

[2017-01-31 10:51] ZephD commented on #489
Seems you need the full spectrum:

`style={{
        webkitUserSelect: 'none',
        mozUserSelect: 'none',
        msUserSelect: 'none',
        userSelect: 'none',
      }}`

[2017-01-31 10:51] #489 closed

[2017-01-31 13:09] wkwiatek opened #490 "PieChart - labels are overlapping when distance between them is really small"
For some big numbers in pair with rather small ones, labels are overlapping other as there's no sufficient space for all of them.

Here is the demo: http://jsfiddle.net/qzk61f5h/

And this is how it looks like:
![image](https://cloud.githubusercontent.com/assets/3719897/22465902/35364ffc-e7be-11e6-85bd-0d16ce4d099c.png)

I think that library should handle this case properly - maybe by showing them

[2017-01-31 21:40] jlarso11 opened #491 "X-axis label overflow"
If the label is longer then what it has room for, then it is placed at the very top of the screen and taken out of the axis markup.  Is there a way that will just chop off the edge of the text but put as much as possible in the right place?

[2017-01-31 21:56] sonofjack opened #492 "Question: aligning graphs in a composed chart"
Is it possible within composed charts to align points with an `area` chart and a `bar` chart.
The following screenshot illustrates the points I am trying to align.

![image](https://cloud.githubusercontent.com/assets/323731/22486029/f07776a4-e85b-11e6-9d5a-296aa6da1871.png)

Does anyone know if this is possible with recharts, or could point me in right direction of how to achieve a similar result.

[2017-02-02 16:36] matheusml opened #493 "Change styles of a Brush component"
After reading the DOCs of the Brush Component, [http://recharts.org/#/en-US/api/Brush](http://recharts.org/#/en-US/api/Brush)
I did not find a way to change the styles of the component, even with pure CSS.

Is there a way to do that?

Thanks!

[2017-02-02 19:29] alexggordon opened #494 "Grouping components"
Hello,

So I've been evaluating recharts, and after browsing through the code and the documentation, I've been unable to find anything about grouping components. I was curious if there was any way to do this, especially with a bar chart.

Essentially I'd just like to be able to group bar elements, so you could have:

[code]

Really, all this would require is the ability to pad each bar element dif

[2017-02-03 04:36] alexanderwhatley opened #495 "Plot two time series with differing time frames"
Is there a way to plot multiple time series with differing time frames? For example:

[code]

[2017-02-03 13:34] lucasbento opened #496 "Add info on README about how to install the package"
I know it's specified on http://recharts.org/#/en-US/guide/installation but I think the main focus of a `README` is to tell how to use a package/repository and *how to install* should definitely be included.

[2017-02-03 14:07] lucasbento opened #497 "Render different content on ScatterChart's tooltip"
Is there a way to render a different content on ScatterChart's tooltip? I want to show a simple `name` there.

If there isn't, would you like a PR to add a solution for it? Something like a method passed through a prop to return a simple `<div />`.

[2017-02-03 14:56] methodmain commented on #497
@lucasbento Here's what I have done. First, when creating my chart data I add the necessary data - the x,y values - but you can also include anything like an object.
`data: [
{
x: 1,
y: 2,
obj: {foo:bar}
}
]`

Then I have:
`<Tooltip content={ this.renderTooltip }/>`

renderTooltip is passed params that include a payload, which will contain x,y, and obj.

[2017-02-03 15:03] lucasbento commented on #497
@methodmain: that's great, didn't see that prop, thank you!

[2017-02-03 15:03] #497 closed

[2017-02-03 18:13] oluckyman opened #498 "<XAxis> does not show end domain value when 'preserveStartEnd'"
Here is the data:
[code]
Here is example of `render` with redundant code removed:
[code]
`interval` prop with `preserveStart` and `preserveStartEnd` works as expected for `A` value of domain. But `B` value of domain is always missing regardless of `interval` setting.
![image](https://cloud.githubusercontent.com/assets/642673/22602676/71ed6f38-ea44-11e6-9874-c8625030da1d.png)

What I expect on the

[2017-02-04 10:49] ItsMrAkhil opened #499 "Recharts bar is not working."
`Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components). Check the render method of `Bar`.`

I am getting the above error. I don't what is happening. I didn't do any changes to my code. All that I did is I've deleted my node_modules folder and then `npm install`.

[code]

[2017-02-05 14:28] mvolkmann opened #501 "errors in math-expression-evaluator"
Just importing from recharts gives me lots of errors from node_modules/math-expression-evaluator/src/lexer.js. All the errors are about the variables "i", "x", and "y" being undefined. Is anyone else seeing this? Maybe that dependency is currently broken.

[2017-02-06 02:03] #464 closed

[2017-02-06 02:05] xile611 commented on #466
@Eric24 It's recommended to use `<Text />` to render label.

[2017-02-06 02:07] xile611 commented on #501
@mvolkmann Please show more informations.

[2017-02-06 02:09] xile611 commented on #499
@ItsMrAkhil It seems that the imported `Bar` is `null`. Please check the `import` of `recharts`.

[2017-02-06 02:11] xile611 commented on #498
@oluckyman Can you create a jsfiddle demo ?

[2017-02-06 02:12] ItsMrAkhil commented on #499
@xile611 No, I am using below line for importing Bar, and other components.
`import { BarChart, XAxis, YAxis, CartesianGrid, Tooltip, Bar, ResponsiveContainer } from 'recharts';`

Please let me know any mistakes.

[2017-02-06 02:20] xile611 commented on #499
@ItsMrAkhil Can you check the value of `Bar` ? Maybe you can use `console.log` to log the `Bar`. And how about the version of `recharts` ?

[2017-02-06 02:21] xile611 commented on #495
@alexanderwhatley You can create two `XAxis`.

[2017-02-06 02:21] #495 closed

[2017-02-06 02:24] xile611 commented on #494
@alexggordon I can't quite understand your demands now. Can you provide an example?

[2017-02-06 02:31] xile611 commented on #493
@matheusml You can change the `stroke`  of `Brush` like [this example](http://recharts.org/#/en-US/examples/BrushBarChart). Or you can change the style of `Brush` by css.

[2017-02-06 02:33] ItsMrAkhil commented on #499
BY LOGGING BAR I am getting below function
[code]

I am using version `0.19.1`

[2017-02-06 02:34] ItsMrAkhil commented on #499
I've tried using other charts like LineChart. Even that is giving same error.

[2017-02-06 02:39] xile611 commented on #492
@sonofjack  Maybe you can use customized shape of `Bar.

[2017-02-06 02:44] xile611 commented on #499
@ItsMrAkhil Can you provide an github project ?

[2017-02-06 02:47] xile611 commented on #491
@jlarso11  Can you submit a jsfiddle demo ?

[2017-02-06 02:51] ItsMrAkhil commented on #499
@xile611 I am sorry. That's private project. But I can provide you that one file. and package.json file.

[code]

I've tried logging `stats array`. It's working properly it giving the result as expected.

Below one is the `package.json` file

[code]

[2017-02-06 02:51] xile611 commented on #486
@akonwi The `Line` was just too thin to be clicked. Please check [this demo](http://jsfiddle.net/wzpf21f1/).

[2017-02-06 02:51] #486 closed

[2017-02-06 02:56] xile611 commented on #483
@gusdaud You can use `tick` of `XAxis` or `YAxis`  to render customized axis texts.

[2017-02-06 02:56] #483 closed

[2017-02-06 02:58] xile611 commented on #482
@Eric24 Yeah, you can use `ticks` to add customized ticks of an axis.

[2017-02-06 02:58] #482 closed

[2017-02-06 03:08] xile611 commented on #479
@FrantisekGazo Thanks! Recharts won't support 3D charts.

[2017-02-06 03:08] #479 closed

[2017-02-06 03:13] xile611 commented on #477
@chipit24 It's welcome to submit PR in [recharts.org](https://github.com/recharts/recharts.org)

[2017-02-06 03:17] #477 closed

[2017-02-06 03:20] xile611 commented on #476
@cemremengu You should format the data. Or you can create 7 ScatterChart to create such charts.

[2017-02-06 03:22] xile611 commented on #475
@squll1 Yeah, of course.

[2017-02-06 03:22] #475 closed

[2017-02-06 03:24] #474 closed

[2017-02-06 03:27] #471 closed

[2017-02-06 03:28] xile611 commented on #499
@ItsMrAkhil You can remove your private codes and create a very simple project.

[2017-02-06 04:19] Eric24 commented on #466
Well, OK, but that feels like a workaround to me. Since axes already have labels (which the should--it's an inherent feature of an axis), I think it should be possible to specify how/where the label is drawn. IMHO, the current (exclusive) default of horizontal text at the end of the axis is just about the least likely place the label should be.

[2017-02-06 14:03] mvolkmann commented on #501
I can't reproduce this now, so I'm closing it. Sorry for the noise.

[2017-02-06 14:03] #501 closed

[2017-02-06 14:58] tsnevillecom commented on #82
It seems to only animate the last bar or line when the data is changed. The other data shows up instantaneously. http://jsfiddle.net/x1yoboc7/249/

[2017-02-06 16:58] jlarso11 commented on #491
http://jsfiddle.net/jlarso11/rzhrLogy/

Here is the basic problem.  We have applied some extra styling to ours to make four out of five show up but this gives the basic idea

[2017-02-06 17:59] oluckyman commented on #498
here http://jsfiddle.net/xx835b1o/7/

[2017-02-06 21:17] chriscain commented on #367
Hi @xile611 - I ran into the same problem @Eric24 had/has, and it seems that removing the `barSize` prop from `Bar` makes the bars in the composed chart no longer render.

Updated fiddle [here](http://jsfiddle.net/z3wx6zm3/1/). Is this intended? Thanks so much!

[2017-02-07 16:25] adearmas opened #502 "Brush component styling"
After customizing the x axis bar "labels" to turn them on an angle, as shown [here](http://recharts.org/#/en-US/examples/CustomizedLabelLineChart) , the brush is rendered on top of some portion of the longer labels.

Unfortunately there is no way that I have come across to move the brush down, or even placing it on top of the chart. How can I do this?

If i update the "y" in the developer tools of

[2017-02-07 16:35] adearmas opened #503 "Legend styling"
Unfortunately, again, styling seems to be an issue with this library. I will have an extremely long legend in some cases, and would like to have the legend to the right of the chart, and listed vertically. However, using the "align" => right and "verticalAlign" => middle props for the legend the legend appears to the right, and in the middle. However, its ON THE CHART, when I would expect it to be

[2017-02-07 20:20] WalkOffEarth commented on #503
here you go ithink you want this http://jsfiddle.net/8a0rttnL/1/

[2017-02-07 21:02] adearmas commented on #503
Well, thank you! This seems to work.

[2017-02-07 21:02] #503 closed

[2017-02-08 01:54] #473 closed

[2017-02-08 01:54] #496 closed

[2017-02-08 02:09] xile611 commented on #502
@adearmas Yeah, customized components of some components, like label, shape, .etc, seems to be complex now. But it's a necessary part to implement complex charts, we'll try to simplify some simple styling.

About your case, you can use an object to style the ticks:

[code]

And you can move the brush down by adjusting the `height` of `XAxis` which have default value 30.

[api of XAxis](http://rech

[2017-02-08 02:20] xile611 commented on #487
Maybe when the props `fill` of `Pie` is an array, we can use the fill the slices in order. But how about other props, like `stroke`, `strokeWidth`, .etc ?

[2017-02-08 02:20] xile611 commented on #485
@JoeRandom Don't support now.

[2017-02-08 02:23] xile611 commented on #468
@vaeum Which bug ?

[2017-02-08 03:16] Eric24 commented on #487
Yes, but to your point, maybe not the cleanest solution. I know that Pie (and Bar) will pick up and override the component settings for fill, stroke, and strokeWidth from the underlying data array (although it isn't always possible to set it there). What other attributes do these components look for in the data?

[2017-02-08 03:22] xile611 commented on #487
@Eric24 Yeah, these components will pick up all the [presentation attributes](https://github.com/recharts/recharts/blob/master/src/util/ReactUtils.js#L6).

[2017-02-08 03:34] Eric24 commented on #487
Wow. That's a lot of attributes! OK. How about this? Since the components can already pick up these attributes from the data array, why not have a separate "style" array. That array is simply a list of objects, each with one or more presentation attributes. The first item in the style array is applied to the first item in the data array (with the data array taking precedence), the second style to

[2017-02-08 04:17] alexanderwhatley commented on #495
Sorry, could you be more explicit please? Right now, there does not appear to be a way to pass differing data elements into two different X-axes. Do you think you could give an example using the above data? Thank you.

[2017-02-08 04:52] alexanderwhatley commented on #495
I tried the following code, but all I got was a blank grid:

[code]

[2017-02-08 21:54] stevelacy commented on #490
Same issue here
![selection_00120170814 51 02](https://cloud.githubusercontent.com/assets/5648999/22759060/590ea9be-ee0e-11e6-9635-3ae124af6def.png)

[2017-02-09 02:27] xile611 commented on #487
@Eric24 It seems a good idea!

[2017-02-09 02:32] #493 closed

[2017-02-09 15:05] kennyx46 opened #505 "<Text> component and custom label"
Hi, I am trying to add custom labels into the bar chart near the bars.
[http://www.clipular.com/c/6279233242660864.png?k=JETXTDXXrS_rtX3aBNQXtDKhqCk](http://www.clipular.com/c/6279233242660864.png?k=JETXTDXXrS_rtX3aBNQXtDKhqCk)
I have tried to add <Text> element but the  text does not appear. ([http://jsfiddle.net/t4t5rx16/16/](http://jsfiddle.net/t4t5rx16/16/))
 Also I want to place text near the

[2017-02-09 15:34] palmerjc opened #506 "Bar Chart with 2 YAxis not working"
I have setup a BarChart with 2 YAxis elements and referenced the YAxis on the Bar definition.  The chart object being created appears to have the elements needed for both YAxis elements (ie props.children[1] is an array containing left and right YAxis objects).  However, when rendered I get react-empty for the second YAxis object.  I have just recently upgraded to v0.20.6 and my code for 2 y-axes

[2017-02-09 15:38] palmerjc commented on #506
I should also note, I am using react 15.4.2

[2017-02-09 16:59] gabrielfnogueira opened #507 "Is there a mirror config on Y axis?"
I set the orientation of the Y axis to "right" and now I wanna display the tick values inside the chart. I know it is possible on d3, but I did not see any config on the API page (http://recharts.org/#/en-US/api/YAxis).

I know I could create a custom tick component and change the dx value to negative, but this is quite a lot of work to a simple functionality that already exists on d3.

[2017-02-09 17:38] leggomymeggos opened #508 "Cannot test with imported charts"
I'm working on a project that's testing with jest and skin-deep. We're trying to test that we've passed the correct data to AreaChart.

However, when we call `sd.shallowRender(<OurComponent />`, we're seeing that the included `AreaChart` component is fully rendered. This makes it impossible to test, since we don't know exactly where our data will end up.

Is it possible to not fully render the cha